[2020-07-29 17:33] altechzilla opened #3 ""EntityCollectionView" is not exported from '@camberi/firecms'"
When trying to run this, it says "EntityCollectionView" is not exported from `'@camberi/firecms'`. Any thoughts @fgatti675 fgatti675? Thank you!

[code]

[2020-07-29 18:48] altechzilla opened #4 "Global CSS cannot be imported from within node_modules."
[code]

[2020-07-29 21:11] fgatti675 commented on #3
Hi @altechzilla,
`EntityCollectionView` is a TS interface, not a React Component. You simply use it as an object. Try the code bellow :)
Actually `EntityCollectionView` is probably not the best name and I understand the confusion, feedback welcome!

`import React from "react";
import { buildSchema, CMSApp } from "@camberi/firecms";
import { requireAuth } from "util/auth.js";

import products from

[2020-07-29 22:27] fgatti675 commented on #4
We actually haven't tested the library with next.js so can't guarantee it's going to work now.
But for now I have removed the CSS import in version 0.11.1
Maybe check it out and let me know if it works!

[2020-07-30 00:12] altechzilla commented on #4
That worked! The error is gone.

[2020-07-30 00:12] #4 closed

[2020-07-30 00:13] altechzilla commented on #3
Great, thanks!

[2020-07-30 00:13] #3 closed

[2020-07-30 00:14] altechzilla opened #5 "Missing dependencies under @material-ui break the app."
When trying to access the page, there's a bunch of @material-ui missing dependency issues. I think the module doesn't properly download @material-ui modules.

[code]

[2020-07-30 00:21] altechzilla commented on #5
Looks like the @material-ui dependencies need to be moved from `devDependencies` to `dependencies`.

[2020-07-30 08:19] fgatti675 commented on #5
Hi altechzilla,

Some dependencies are declared as peer dependencies so you are free to select the version you want:
[code]

The only one you don't necessarily need there it's algolia if you are not enabling search

[2020-09-10 16:26] shaniceweiwei opened #7 "Can image be in URL format instead?"
Can image be uploaded to firebase storage still but storing the URL instead of just the path name in String?

[2020-09-11 20:04] shaniceweiwei opened #8 "timestamp is not saved"
DataType "timestamp" has current date & time displaying in form but never saved in firestore unless it was manually selected by user.

[2020-09-13 21:10] faizaand commented on #7
I've made this change in a fork, the commit is linked: https://github.com/faizaand/firecms/commit/9b074f889061fe499b2a4d832a2f53594421779c

You can adopt my same code; I made changes to `example/src/index.tsx` in here so you'll want to ignore that file. The files that are relevant to this change are `src/form/fields/StorageUploadField.tsx` and `src/preview/PreviewComponent.tsx`.

[2020-09-13 21:12] faizaand opened #11 "Setting initial filters in EntityCollectionView"
I see that there's `filterableProperties` present here, but what about setting an initial filter? For example, if I want a collection to automatically sort by date, is there existing functionality to implement this?

[2020-09-13 22:08] shaniceweiwei commented on #7
I'm sorry if this is a stupid question, I'm super new to react and npm thingy, how do I replace dependency with your forked project? I've tried `"yarn save faizaand/firecms"` or `"yarn upgrade faizaand/firecms"` but when I `"yarn start"` it says
[code]
what am I doing wrong?

[2020-09-13 22:55] faizaand commented on #7
@shaniceweiwei No such thing as a stupid question! That's probably because my repository is not bundled for distribution - it is not intended to be used as an actual package so I didn't bother bundling it. You can try cloning it locally, running `npm install` inside, and then referencing it via a file dependency in your CMS project's `package.json`. That would go something like "file:path/to/faiza

[2020-09-14 17:33] shaniceweiwei opened #12 "Discard button did not navigate back to list"
In document editing page, the Discard button next to Save button does not seems navigate back to the previous page.

[2020-09-14 18:10] shaniceweiwei commented on #8
I think for the time being I just do it with `onPreSave`  and check if it is undefined then set `new Date()`.

[2020-09-18 12:15] fgatti675 commented on #12
Hi @shaniceweiwei, we will add back navigation :)
How about also adding the same behaviour for the save button?

[2020-09-18 14:47] fgatti675 commented on #7
Hi! I am currently looking into this :)
@faizaand feel free to submit PRs whenever you have any change you'd like to see merged

[2020-09-18 20:10] fgatti675 commented on #11
Hi @faizaand, I have added an `initialFilter` property in version 0.13.0 that allows to set some filter values by default.
No default sort yet, but adding it to the the backlog!

[2020-09-18 20:10] #11 closed

[2020-09-18 20:15] fgatti675 commented on #8
Hi @shaniceweiwei, that was a bug, displaying the current date when it was not set.
In version 0.13.0 this is fixed and empty dates don't show up.
It probably makes sense to add some additional props to add custom behaviours, like initialise as the current date, or update on save. Ideas are welcome! 👍

[2020-09-18 20:16] fgatti675 commented on #7
Hi @shaniceweiwei and @faizaand , I have added this feature in version 0.13.0
Now in the storage config, you can set the flag `storeUrl` to true, which will save the download URL instead of the reference.

[2020-09-22 17:12] shaniceweiwei commented on #8
Yes, maybe to have a config that allow us to preset Date() ?
By the way, is 0.13.0 released yet? :D

[2020-09-22 17:14] shaniceweiwei commented on #12
Yes. probably Save button too, that would be ease for user.

[2020-09-23 10:23] fgatti675 opened #13 "Allow selection of initial values for entities"
Include custom values for date field.
Feature request from:
https://github.com/Camberi/firecms/issues/8

[2020-09-23 10:24] fgatti675 commented on #8
It is :)
https://www.npmjs.com/package/@camberi/firecms

I have added your request to a newly created backlog: https://github.com/Camberi/firecms/projects/1?add_cards_query=is%3Aopen

[2020-09-23 10:24] #8 closed

[2020-09-25 05:15] shaniceweiwei commented on #7
[code]
Is this the correct syntax? Because it does not seems to work, it is still keeping `files/finename.jpg` instead of the whole http url.

[2020-09-25 07:24] #7 closed

[2020-10-20 10:00] marianmoldovan opened #14 "Integers with value of 0 not rendered in the collection view"
I have a collection with a number dataType, but it's not displayed properly in the collection view. It appears empty.

You can see the issue in this screenshot.
![image](https://user-images.githubusercontent.com/1479084/96571262-9e64cf80-12cb-11eb-898f-766b87b63441.png)

The issue does not affect the edit view.

[2020-10-24 13:51] fgatti675 commented on #14
Thanks for the catch!

[2020-10-24 13:51] #14 closed

[2020-10-24 13:54] fgatti675 opened #15 "Allow modification of entities directly from the collection view"
In order to improve user experience, the tables should be editable for an experience similar to AirTable.

We need to think about how to integrate this feature with the current entity form validation.

[2020-10-29 12:46] marianmoldovan opened #16 "Sub menu creation"
Allow grouping several collectionViews under a sub menu

For example:

Quiz
- questions
- feedback

[2020-11-03 22:33] fgatti675 commented on #12
Hi @shaniceweiwei, navigation has been completely revamped in the latest version and this is fixed. You may want to check it out!

[2020-11-03 22:33] #12 closed

[2020-11-04 12:25] fgatti675 opened #17 "Enhanced field for "array of references""

[2020-11-04 16:10] fgatti675 opened #18 "Make references point to collections only"
Allow references to omit the schema, which can be inferred using only the collectionPath
This would allow to use also the corresponding filters and text search specified there.

[2020-11-17 11:48] fgatti675 commented on #18
Added in 0.16.0

[2020-11-17 11:48] #18 closed

[2020-11-17 11:49] fgatti675 commented on #16
Added on 0.16.3

[2020-11-17 11:49] #16 closed

[2020-11-17 11:51] fgatti675 commented on #8
Regarding this ticket, you can set now the `autoValue` flag to timestamp properties, so timestamps get updated with the server value on creation or update

[2020-11-17 11:52] fgatti675 commented on #13
You can set now the autoValue flag to timestamp properties, so timestamps get updated with the server value on creation or update

[2020-11-17 11:52] #13 closed

[2020-11-25 16:01] fabarea opened #19 "Firebase Error when creating a new record"
Steps to reproduce:

1. I have cloned the master of this repository
2. `cd example ; yarn install; yarn start`
3. edit src/firebase_config.ts with my credentials.

As shown by the screenshot, I am able to read / update the records on Firebase but creating a new record generates an exception.

[code]

FYI

[code]

<img width="2534" alt="image" src="https://user-images.githubusercontent.com/620730/1

[2020-11-26 07:46] faizaand opened #20 "Custom pages"
Is it possible to have navigation links that render a React component instead of showing the data table? For example, I'd like to have a home page with usage statistics. Is that a feature in FireCMS currently?

[2020-11-26 16:20] fgatti675 commented on #20
Hi faizaand,

Yes! You can't change the home page but you can add extra pages to the root navigation

`const additionalViews = [
    {
        path: "your_path",
        name: "Name displayed in the menu",
        view: <YourComponent/>
    }
];

ReactDOM.render(
    <CMSApp
        name={"Your app"}
        authentication={authenticator}
        navigation={yourNavigationConfig}
        firebaseC

[2020-11-26 16:37] fgatti675 commented on #19
Hey fabarea, thanks for the catch.
It is fixed in the latest release 0.17.2 :)
Btw, any feedback on the library is highly appreciated!

[2020-11-27 14:29] fgatti675 opened #21 "Add home default page route"
In order to provide links to the root collections. Users should be able to override this home page.

[2020-11-27 14:45] fabarea commented on #19
I can confirm this works now fine 👍

[2020-11-27 14:45] #19 closed

[2020-11-27 21:36] faizaand commented on #20
That's helpful, thank you!

[2020-11-27 21:36] #20 closed

[2020-11-27 21:37] faizaand opened #22 "Additional buttons in collection?"
Does FireCMS allow you to add custom buttons on the toolbar of the collection view? I'd like to be able to add an "Export" button here, but I can't find the place to add components to the toolbar.

![Screen Shot 2020-11-27 at 4 36 48 PM](https://user-images.githubusercontent.com/6227145/100485619-bf8cbd00-30ce-11eb-8121-594d6b140062.png)

[2020-11-30 12:47] fgatti675 commented on #22
Hi @faizaand, this is pretty easy to implement and will add the feature soon :)

[2020-12-02 01:02] faizaand opened #23 "onDelete hook no longer gives values"
The delete hook was moved into the entity schema in 814fbb3bf560e1b5ae80e53eb335e7c7d2cd8d42, but now it no longer provides the values of the deleted record. Is there a chance this field can be re-added? It's useful because since it's deleted, we can't access those values anymore, but we might need some of the documents' data to finish the deletion.

[2020-12-02 10:40] fabarea opened #24 "Click on AdditionalView menu does not close the drawer"
I am implementing some additional views to add custom "panels" for the end users. When clicking the menu, it should close the drawer as for the other menu titles. Furthermore, it would be nice to equally format the menu title => make it uppercase as for the rest.

[code]

Version of FireCMS:

[code]

<img width="743" alt="image" src="https://user-images.githubusercontent.com/620730/100861502-34c30

[2020-12-02 10:42] fabarea opened #25 "Module title does not correspond in AdditionalViews"
Module title does not correspond for AdditionalViews as for the "regular" views.

<img width="743" alt="image" src="https://user-images.githubusercontent.com/620730/100862387-65f00e00-3493-11eb-927d-fcea9bf0a17f.png">

[2020-12-02 11:04] fabarea opened #26 "Feature - provide other types of login"
It would be awesome to be able to provide other type of login such as email / password.

We can see the use of `AuthContext` and I am not sure I can "simply" override it in my index.tsx. Nevertheless, it would be nice to have common login providers configured / ready out of the box.

https://github.com/Camberi/firecms/blob/master/src/CMSApp.tsx#L221

<img width="541" alt="image" src="https://user-

[2020-12-02 12:30] fgatti675 commented on #23
Added the deleted entity in 0.18.1 :)

[2020-12-02 12:33] fgatti675 commented on #26
Hi @fabarea, this is something we totally have in mind already.
We will need some extra time to develop it since this implies not only creating login with user/password but also registration.

Allowing overriding the auth logic is also a good alternative and we will give it some thought :)

[2020-12-02 16:39] fabarea opened #27 "Localization of FireCMS"
For now the labels are hard-coded in English. It would be nice to make them translatable. I would be happy to contribute for French 😄

[2020-12-02 18:47] faizaand commented on #23
Works great, thanks!

[2020-12-02 18:47] #23 closed

[2020-12-02 19:10] faizaand commented on #26
@fgatti675 Where is this auth logic located in the codebase?

[2020-12-02 19:12] faizaand opened #28 "TextSearchDelegate collection info"
How do we access the collection that's being searched in the TextSearchDelegate? It seems like we're only provided the query string.

[2020-12-02 19:35] faizaand commented on #28
Nevermind, I see that we simply instantiate a search delegate for each collection.

[2020-12-02 19:35] #28 closed

[2020-12-03 14:41] faizanabidnaqvi opened #29 "Update to Firebase 8+"
Hi there!

Thanks so much for creating this project! I have been on the lookout for a good firestore based CMS for various internal use apps and while I found some (and used them), many got outdated and don't use the latest firebase features such as realtime listeners. This one does, and so much more.

I have been using Firebase Emulators for testing new projects but that only works on Firebase 8+

[2020-12-03 14:45] faizanabidnaqvi opened #30 "Theming"
Is there a way to override the Mui theme being used in the project? This is not really an issue but it will be super cool to be able to customize the theme! :)

[2020-12-04 12:47] fgatti675 commented on #29
Hi @faizanabidnaqvi
So I have updated the imports internally to make it compatible with Firestore SDK 8.
Internally we are checking some Firestore data types and have run into this bug:
https://github.com/firebase/firebase-js-sdk/issues/4125
I have added a workaround for that particular case in version **0.19.0**, but it is hacky, until they have a proper solution. I haven't done extensive testing

[2020-12-04 12:48] fgatti675 commented on #25
Fixed in 0.19.0 :)

[2020-12-04 12:48] fgatti675 commented on #24
Fixed in 0.19.0 :)

[2020-12-04 12:49] fgatti675 commented on #27
Hi @fabarea that would be great!
We currently don't have any localization framework in place. Do you have any suggestions?

[2020-12-04 12:57] fgatti675 commented on #30
Hi @faizanabidnaqvi,
currently theming is limited to changing the primary and secondary color and font family.
https://github.com/Camberi/firecms/blob/master/src/CMSAppProps.tsx
Before allowing to override the theme we would need to go through all the code and change every hard coded style!

[2020-12-04 15:18] fgatti675 commented on #26
We can probably do a better job at encapsulating the auth flow.
The context that holds Auth state is found in https://github.com/Camberi/firecms/blob/master/src/auth.tsx
Then CMSApp is in charge of handling the login

[2020-12-05 15:08] fgatti675 commented on #26
I have just moved the auth context and other contexts to:
https://github.com/Camberi/firecms/blob/master/src/contexts/AuthContext.tsx
I've also split CMSApp into smaller components including a LoginView

[2020-12-06 23:13] faizanabidnaqvi commented on #29
Hey @fgatti675

Thanks so much for the quick response and for adding the feature! :D I updated to the latest Firestore version and while I haven't tested extensively too, the examples seem to be running fine.

However, to use the Firebase local emulator suite, I did have to do a workaround. In order to start the emulator, we need to call this code _after_ `firebase.initializeApp`:
[code]

Since Fi

[2020-12-06 23:17] faizanabidnaqvi commented on #30
Hey @fgatti675

Thanks for pointing it out and this seems sufficient for basic needs.

I understand some styles are hardcoded, but will it be possible to wrap the CMSApp in our own MuiThemeProvider? That way, we can modify any default styles; although I do understand it might not affect any hardcoded styles. This is just a nice to have.

[2020-12-06 23:39] faizanabidnaqvi commented on #26
Just pitching in here. Is it possible to use FirebaseUI for Login/Registration and then the CMSApp can take the Firebase UI Config object as a prop? FirebaseUI is super flexible!

[2020-12-07 07:44] fabarea commented on #27
I have made good experience with `i18next` and `react-i18next`. In the main `index.ts` you would find something like that:

[code]

In `18next-init.ts`:

[code]

Then, it whatever file you can have something like that:

[code]

Example for the `productionCollution.ts`

[code]

[2020-12-07 07:59] tijnar opened #31 "Error on array of timestamp data types"
I want to store array of timestamps in cloud firestore. I can add new item to the database by using below code. But during the preview in the table of the collection in firecms it is giving me error.
my code:

available_dates: {
            dataType: "array",
            title: "Available Dates",
            validation: {
                required: true
            },
            of:{

[2020-12-09 10:32] fabarea opened #32 "yarn check displays many dependencies errors"
Hi,

I just pulled the latest commit #910711a7b196. It looks there are many dependencies errors that can be seen with command `yarn check`. If not all them are easily fixed perhaps one could reduce the list.

FYI, I had tiny differences of visual by using `npm install && npm run start` most probably because of the dependency resolution when facing dep. issues.

[2020-12-15 10:24] fgatti675 commented on #31
Fixed in 0.20.0 :)

[2020-12-15 10:24] #31 closed

[2020-12-15 11:05] faizanabidnaqvi opened #34 "Unexpected value error shown for on_update timestamp field and it gets set without changing anything"
Hi there!

I tried using the timestamp property with auto value set to "on_update". The field gets set correctly if I do make changes to the item and save.

However, if I open an item, don't change anything, and then press save, it throws an error in the on_update field.

<img width="308" alt="Screenshot 2020-12-15 at 11 51 53 AM" src="https://user-images.githubusercontent.com/5749036/102206443-ec

[2020-12-22 00:07] fgatti675 commented on #34
Hi @faizanabidnaqvi ! Can you check if this is solved in version 0.20.0 ?

[2020-12-22 05:30] rgtstha opened #35 "What will be the minimum value of timestamp data types?"
I just saw there is validation for timestamp data types.  I want to set the minimum date to be the today's date. How to set tody's date in minimum value?

[2020-12-22 05:37] tijnar opened #36 "Can I disable the user from adding new document to the collection?"
I just want to view all the documents of firestore in the cms, but I want to disable the user from adding new documents to the collection. How can i do this ?

[2020-12-22 13:10] faizanabidnaqvi commented on #34
Hi @fgatti675

Thanks for the response! :) I just checked. It's not fixed yet.

[2020-12-23 18:05] fgatti675 commented on #35
Hi @tijnar
Currently not possible I am afraid but it's a good idea, adding it as a feature request

[2020-12-28 13:10] fgatti675 opened #37 "Allow image resizing on upload"
Implement and expose the API
Candidate: https://gist.github.com/SagiMedina/f00a57de4e211456225d3114fd10b0d0

[2020-12-28 20:53] fgatti675 commented on #36
Hi @tijnar, in version 0.21.0 you can set the flag `editEnabled` to false in the collection level
Let me know if that works out for you

[2020-12-28 20:53] fgatti675 commented on #34
Ok, so there is been a lot of updates in version 0.21.0 and it seems to be working fine, can you check now? :)

[2020-12-28 20:56] fgatti675 commented on #32
I've managed to reduce the errors to 14 in version 0.21.0, way less than before.
Many errors are related to dependencies not ready for React 17

[2020-12-28 20:56] #32 closed

[2020-12-28 20:57] #24 closed

[2020-12-30 04:06] tijnar commented on #36
@fgatti675 in the new update I am able to do inline editing when it is true. But i am not able to edit in side panel. Side panel is not popping what ever the value of inlineEditing.

[2020-12-30 21:03] fgatti675 commented on #36
Hi @tijnar
Can you try in version 0.21.2 ?

[2020-12-31 12:52] tijnar commented on #36
@fgatti675 its working now. But what if  I want to enable the editing of existing document but disable adding of new document in the collection.

[2021-01-02 12:28] fgatti675 commented on #29
Hey @faizanabidnaqvi
I have added an `onFirebaseInit` callback in the CMSApp level so you can just call the emulator initialisation code in it :)
It has been added in version 0.22.0

[2021-01-13 11:28] djanogly opened #40 "Filter by Boolean equal to false"
I am looking to filter by a Boolean value, but when the filter is unselected, it includes 'true' values as well as 'false' values.

I would like to be able to filter so as to see only entries whose bool value is false.

I hope that is clear, let me know if not!

Thanks,
Jack

[2021-01-13 14:41] fgatti675 commented on #40
Hi Jack! A rework of the filters is already planned :)

[2021-01-15 05:35] faizanabidnaqvi commented on #34
Hi @fgatti675

Apologies for the late response! I updated to the latest version 0.22.0 and checked.

So now, I don't get the error which is awesome :) and works! BUT the updated timestamp value still changes even if I didn't make any changes at all. As a suggestion, I think if we press save on an item without touching or modifying any field in it, it should not actually save or update the timestam

[2021-01-23 00:34] faizaand commented on #26
@faizanabidnaqvi I took an attempt at adding what you said in PR #41.

[2021-01-24 10:32] fgatti675 commented on #25
Ok, now fixed for good in 0.23.0 :)

[2021-01-24 10:32] #25 closed

[2021-01-24 16:27] fgatti675 commented on #26
Hi everyone!
I have merged and adapted the PR by @faizaand into a branch you can checkout here:
https://github.com/Camberi/firecms/tree/firebase-ui
Now we expose the sign in options in the CMSApp entry point so you can choose the ones you need, as specified by FirebaseUI.
It is not my favourite solution, since I would rather implement it myself, and may still do it in the future, but this is provi

[2021-01-24 18:43] fgatti675 commented on #22
Published in version 0.23.0

[2021-01-24 18:43] #22 closed

[2021-01-24 18:43] #29 closed

[2021-01-24 19:28] fabarea commented on #25
Thank you very much!

[2021-01-25 06:39] faizaand opened #43 "Field values depending on another field"
I have a custom field that shows a dropdown of choices, but it accepts a "year" prop that filters the choices by year. I want to make it such that if the user selects a certain year (defined in the schema), that it passes this year to the custom field in its `fieldProps`. Is that possible in the current software?

[2021-01-25 10:39] faizanabidnaqvi opened #44 "Suggestion: Initial Sort"
Hi there!

Great ongoing work on this! I was thinking that it will be super helpful to have a way to setting the field we wish to sort by initially. For example, we could set the initial sort based on updated date, so we know what docs were last edited.

I apologize if this is supported already. I couldn't find it in the readme doc.

[2021-01-25 11:03] faizanabidnaqvi opened #45 "Changing the row size on collection with array of document references crashes the app"
Hi!

I have a collection with a field of array references (firebase doc ref). Each reference has another field called title. In the summary view, when the row size is the default M, it works fine. But when I change the row size to anything bigger than M, it shows an error on the array reference field and after a while shows this error:
TypeError: Cannot read property 'title' of undefined

The erro

[2021-01-25 11:11] faizanabidnaqvi opened #46 "App crashes after deleting an item"
Hi again!

In the latest version, that is 0.23.0, if I press the three dots to access the copy/delete menu, it opens up the doc edit popup at the same time as the menu shows up. Now if I press delete, the delete confirmation shows up and the address bar changes to the host/collection/[doc id]. When I press Ok on delete, the app crashes with a type error.

It seems like it is because the address ba

[2021-01-25 11:17] faizanabidnaqvi opened #47 "Clicking the checkbox in the id field opens up the document popup"
I like the new checkbox feature, together with allowing multiple deletes. But it is inconvenient right now because whenever I check an item, it also opens up the item details popup which I then have to close to proceed with checking more items.

This is similar to the issue where clicking the 'three dots' to open the copy/delete menu also opens the item details popup.

[2021-01-26 10:13] fgatti675 commented on #47
Hi @faizanabidnaqvi, which browser and OS are you using?
It doesn't seem to happen in Chrome on MacOS

[2021-01-26 15:36] faizanabidnaqvi commented on #47
Hi @fgatti675

Thanks for getting back! I am using Chrome on MacOS too!

Here are videos for the checkbox issue and the 3 dots issue (they are similar)

https://user-images.githubusercontent.com/5749036/105866577-6bca2180-5ff4-11eb-9935-5891952de7b6.mov

https://user-images.githubusercontent.com/5749036/105866637-797fa700-5ff4-11eb-8ee0-5c10496d2278.mov

[2021-01-27 14:11] faizanabidnaqvi commented on #47
It's fixed in 0.24.0! :)

[2021-01-27 14:11] #47 closed

[2021-01-27 14:17] faizanabidnaqvi commented on #46
Fixed!

[2021-01-27 14:17] #46 closed

[2021-01-27 14:46] faizanabidnaqvi commented on #45
I am not sure if this a mistake I was making or not but after updating to the latest version, this issue doesn't happen.

[2021-01-27 14:46] #45 closed

[2021-01-27 14:55] fgatti675 commented on #46
Great thanks!

[2021-01-27 14:55] fgatti675 commented on #47
Great thanks! :)

[2021-01-27 14:56] fgatti675 commented on #45
Yes yes, I did a change in reference to this in v 0.24.0, thanks!

[2021-01-27 14:57] fgatti675 commented on #26
I am closing this since FirebaseUI is now integrated in 0.24.0 :)

[2021-01-27 14:57] #26 closed

[2021-01-27 14:59] fgatti675 commented on #43
Hi @faizaand, in version 0.24.0 you now have a context object passed in the CMSFieldProps, there you have access to the other values of the form. Let me know if that works for you!

[2021-01-27 16:26] fgatti675 opened #48 "Allow dropping of files to upload directly in editable tables"

[2021-02-03 00:10] shelooks16 opened #49 "Single Content Type"
Hey,

I was wondering whether single content type can be somehow plugged in?

What I mean is that suppose there is a collection "pages" where each doc id is page name and each document has different structure.
For example /pages/about, /pages/home.
`about` and `home` are document ids. Each document has its own unique structure.

Firecms navigation is an array of collections and every collection mu

[2021-02-03 10:17] fgatti675 commented on #49
Hi @shelooks16
That's a very interesting use case!
I have given this a bit of a thought. We are currently working on exposing internal APIs, in order to give developers more freedom.
One of the functionalities we would like to provide is the possibility to open the side dialog for editing entities. So I am thinking, you could create a custom view using the `additionalViews` prop. You could build y

[2021-02-03 11:05] shelooks16 commented on #49
Hi @fgatti675

I was actually thinking about somehow using `additionalViews` too but didn't come up with anything.

Thanks for sharing! Internal APIs feature sounds really cool :)

Not sure whether I got it right:

Having that new feature of side dialog for editing entities, I would click on a button that opens a single document for edit in the side-menu? Just like when 'Add New' clicked but for e

[2021-02-03 15:37] faizanabidnaqvi opened #50 "Suggestion: Rich Text Editor to Html module for strings"
Hi there!

Just wanted to suggest that it will be nice to have a string editor that allows us to format the string and it gets uploaded as a html string in firebase. I know there is the markdown feature but in some scenarios especially for web, it will be cool to save html strings! :)

We could use one of the popular libraries like Quill or CKEditor.

[2021-02-08 12:33] fgatti675 commented on #49
Yes exactly!
So you would be able to select the path to your entity, the schema and some other parameters, using a custom hook.
We are working now on decoupling the current implementation from collection views, where those parameters get extracted from.
I will keep you updated :)

[2021-02-08 13:06] shelooks16 commented on #49
@fgatti675 that sounds amazing :)
Thanks a lot for keeping me updated. Looking forward for any updates!

Can I take a moment for one more thing? Could you expose an API to disable the save-as-you-write feature when editing in a table row? This becomes super inefficient when there is a firestore trigger that listens for document updates. A button to save new changes would be very much appreciated :

[2021-02-08 18:54] faizanabidnaqvi opened #51 "Cannot call hover while not dragging"
Hi there!

I have a field that is of array type and stores string URL of uploaded images. The images are uploaded through the storageMeta config, which is set as follows:
[code]

When I try to drag and drop images in this field, the app crashes with the following error:
<img width="1103" alt="Screenshot 2021-02-08 at 8 50 26 PM" src="https://user-images.githubusercontent.com/5749036/107267540-b36a

[2021-02-09 17:53] faizanabidnaqvi opened #52 "Unable to delete an item from a reference field"
Hi there!

I am not sure when this started happening; I am unable to remove a reference field (by pressing the x button). It gets stuck in a loading state when pressing the x button. Here is a video:

https://user-images.githubusercontent.com/5749036/107405867-70242d80-6b10-11eb-981d-0b860391b57c.mov

[2021-02-10 20:37] fgatti675 commented on #51
Hi @faizanabidnaqvi can you check if this happens also in v0.25.0 ?
Thanks!

[2021-02-10 20:48] fgatti675 commented on #50
Hi @faizanabidnaqvi
So for now we are working on building fields for the most common use cases. It is possible that we include an html field sometime (possibly as a plugin dependency if FireCMS keeps getting bigger), but it is not planned in the near future!
I encourage you to try and implement a custom field wrapping your preferred editor. Maybe let me know how it goes afterwards :)

[2021-02-10 20:50] fgatti675 commented on #44
Added `initialSort` in version 0.25.0 :)

[2021-02-10 20:50] #44 closed

[2021-02-10 21:34] fgatti675 commented on #49
Thanks a lot for your very nice words @shelooks16 :)
We have big plans for FireCMS! And both developers and the end users are the main focus.

I'll look into disabling save-as-you go, but right now is tightly coupled with the Table component. Also from the UX perspective feels tricky, but maybe we can try saving onBlur only. For now, I'd suggest disable inline editing!

Regarding the original ques

[2021-02-11 04:16] shelooks16 commented on #49
Yeah, onBlur sounds great.
Let me try out new version. I will post an update here.

[2021-02-11 16:24] shelooks16 commented on #49
@fgatti675

I checked out new features. They look very promising but all of them have one common problem. I created the repo to reproduce if needed and also deployed to see exactly what is wrong.

repo: https://github.com/shelooks16/firecms-playground
live: https://lucid-leakey-753695.netlify.app/

- **useSideEntityController**: all is good until the sidebar is closed. When sidebar opens, it chang

[2021-02-12 08:07] faizanabidnaqvi commented on #51
Hi @fgatti675

Thanks for getting back to me. Just checked it. It happens in v0.25.0 as well.

[2021-02-14 20:36] fgatti675 commented on #49
Hi @shelooks16 :)
First of all, thanks a lot for your very detailed error report and test project!
You were right, EntityCollectionTable was tightly coupled with the overall navigation.
In version 0.25.1 I have added an internal schema registry that allows to fetch the side panels configuration from different places:
- The main navigation as defined until now
- The current context (such as a manua

[2021-02-16 15:10] shelooks16 commented on #49
Hey, @fgatti675

The update with custom resolvers looks awesome!
As far as I understood, custom `schemaResolver` can be used on `<CMSApp />` to manage all schema Entities from one place. I think passing schema explicitly to `useSideEntityController` is more intuitive. Anyways, now there is more space for customization :)

Thanks! I think the issue can be closed now. If you need any feedback or any

[2021-02-16 15:10] #49 closed

[2021-02-16 17:23] fgatti675 commented on #49
Hi @shelooks16

Yeah! I felt the same about being more intuitive having it in `useSideEntityController`, so I also left it there, you can override the schema locally, just as you did before :)
I tested your project and everything seems to be working fine.

While going through all the cases were `useSideEntityController` is used internally, I realised that we also use it for references (you can cli

[2021-02-16 17:47] shelooks16 commented on #49
Everything works smoothly. I will stick with schema passed directly to `useSideEntityController`. At the moment, there is no need for me to use custom `schemaResolver`.

Single content type was succesfully achieved haha :) And it's even better than that since independent documents can be grouped together in an AdditionalView. That was super useful update!

[2021-02-17 11:14] fgatti675 commented on #49
Great to hear!
Please let me know how things go for you from now on, your feedback was really valuable! :)

[2021-02-18 03:39] faizanabidnaqvi opened #53 "Array of map property doesn't work"
Hi there!

I have an array of map property and each item in the map is of shape {title: string, body: string}. This was working in 0.24 versions but now when you press 'Add' on that property it crashes the app.

Here is how the property is written:
`data: {
          title: "Content",
          validation: { required: true },
          dataType: "array",
          of: {
            dataType: "map"

[2021-02-18 05:38] faizanabidnaqvi opened #54 "Unable to show additional columns through the properties set in entity collection view"
Hi there!

Before v0.25.1, I was able to show additional columns where I wanted through the properties set in the entity collection. So, for example, if I had an additional column with id "imagePreview", I could use it in the properties this way:
`
...
properties: ["updatedOn", "imagePreview", "title"]
...
`

But in the latest version, if we use this way there is a type error saying the schema is

[2021-02-18 06:07] faizanabidnaqvi opened #55 "Setting empty strings as default values"
Hi there!

I have a collection where I want each field to be populated even if they are empty. So string fields should be set in firebase but empty that is, field: "". When I try to do this through the defaultValues property in the schema by settings the field as an empty string, it doesn't actually save that field. I assume that is because empty strings are just not added as the property.

Before

[2021-02-18 16:55] fgatti675 commented on #55
Hi @faizanabidnaqvi ! This should be fixed in version 0.26.0 :)

[2021-02-18 16:55] fgatti675 commented on #54
Hi @faizanabidnaqvi ! This should be fixed in version 0.26.0 :)

[2021-02-18 16:56] fgatti675 commented on #53
Not sure what version you were using, but in 0.25.2 there was an update regarding this.
Can you tell me if it is fixed for you in version 0.26.0 ?
Thanks!

[2021-02-18 16:56] fgatti675 commented on #52
Hi @faizanabidnaqvi ! This should be fixed in version 0.26.0 :)

[2021-02-18 23:01] faizanabidnaqvi commented on #55
It works! :D

[2021-02-18 23:01] #55 closed

[2021-02-18 23:01] faizanabidnaqvi commented on #54
Works!

[2021-02-18 23:01] #54 closed

[2021-02-18 23:05] faizanabidnaqvi commented on #53
Yes it works now! :D

[2021-02-18 23:05] #53 closed

[2021-02-18 23:05] faizanabidnaqvi commented on #52
Yes it is! Awesome work!

[2021-02-18 23:05] #52 closed

[2021-02-18 23:05] faizanabidnaqvi commented on #51
Seems to be fixed in 0.26.0 :)

[2021-02-18 23:05] #51 closed

[2021-02-18 23:07] faizanabidnaqvi commented on #34
The feature where the save button is disabled unless any changes are made kind of resolves this!

[2021-02-18 23:07] #34 closed

[2021-02-19 10:05] fgatti675 commented on #51
I did not manage to reproduce this one, glad it works now!

[2021-02-22 10:38] faizanabidnaqvi commented on #50
Hi @fgatti675

I implemented a custom field for rich text editing. I used CKEditor for React library which is super cool. I have a slight issue, however.

Here is how I wrote it. Quite simple:
[code]

CKEditor has this link button that allows us to add a link to any selected text in the editor. When pressed, this button shows a modal with a text box that allows us to type in the link. The issue is

[2021-02-22 16:30] #15 closed

[2021-02-22 16:30] #17 closed

[2021-02-22 17:43] fgatti675 commented on #50
Hi @faizanabidnaqvi
I have enabled `disableEnforceFocus` in version 0.26.2
For now it seems fine but we need to keep an eye on the implications.
Let me know if it helps! If it doesn't I'd rather revert the change

[2021-02-23 08:16] faizanabidnaqvi commented on #50
Hey @fgatti675

I just upgraded it to the latest version and it works now. :D Thanks so so much! I'll test around and let you know if any issues do come up.

[2021-02-23 10:19] faizanabidnaqvi opened #56 "Suggestion: Allow opening modal to select reference items programmatically"
Hi there!

I like the new feature that allows us to open the side dialog modal through a hook; that way we can create custom fields that can allow us to use the library's way of creating new documents.

I have another use case, that I was wondering how I could accomplish. Currently, if I have an array of references field in firecms, it shows this nice button 'Edit {field}'. Clicking on that opens

[2021-02-23 11:46] fgatti675 commented on #56
Hi @faizanabidnaqvi
I totally get the use case; I will give it a little though and see the best way to add new entries to array of references inline :)

[2021-02-28 03:19] alpinstang opened #57 "Reference a subcollection in a Schema"
I have followed the example referencing other documents like the related products field does. My question is, is it possible to reference a subcollection in the current document? Example code below:

[code]
Note the comment for where I am referring to in the question. Thank you!

[2021-02-28 11:08] fgatti675 commented on #57
Hi @alpinstang :)
I think this should be achievable with a PropertyBuilder. You can replace your property declaration with a function:
[code]
    Let me know if it works out for you!

[2021-03-01 05:47] alpinstang commented on #57
@fgatti675 Thank you for your reply! I will try this out. Great project 👍👍

[2021-03-01 09:25] fgatti675 commented on #57
Thank you!

[2021-03-01 09:25] #57 closed

[2021-03-04 11:33] fabarea opened #58 "Date format for the DateTimePicker component"
Hi,

Is there a way to format the date ?

We are missing a configuration, I guess in the DateTimeField component?

https://github.com/Camberi/firecms/blob/master/src/form/fields/DateTimeField.tsx

According to the documentation we should wrap the component in some kind of Provider.

https://material-ui-pickers.dev/localization/date-fns

[2021-03-04 11:40] fabarea commented on #58
<img width="1172" alt="image" src="https://user-images.githubusercontent.com/620730/109958673-bec78080-7ce6-11eb-998d-07545788387a.png">

[2021-03-04 14:17] fabarea opened #59 "Algolia search raises an exception if property is missing in the Algolia index"
Algolia search works fine but it some cases if the search property is missing in the Algolia index it will raise an exception. Possible fix:

[code]

<img width="921" alt="image" src="https://user-images.githubusercontent.com/620730/109976560-32c05380-7cfc-11eb-92c8-488c32e3c378.png">

[2021-03-06 21:00] fgatti675 commented on #59
Hi @fabarea
I added your check in the latest version 0.28.2
Can you check if it still happens? :)

[2021-03-07 15:51] fabarea commented on #59
Algolia search was fixed!

[2021-03-07 15:51] #59 closed

[2021-03-08 10:27] eliataylor opened #60 "Enable other authentication methods from FireCMS"
Let's enable all OAuth providers. Let's start with Email and Phone.

https://firebase.google.com/docs/auth/web/firebaseui

(I'll setup the necessary App keys for FB, Github, Twitter, etc...)

[2021-03-09 14:12] fgatti675 commented on #60
Hi @eliataylor
Currently FireCMS supports all the methods implemented by FirebaseUI, which is user underneath.
You can pass enable the methods you want with the prop `signInOptions` in `CMSApp`

[2021-03-09 18:02] eliataylor commented on #60
hahhha. my apologies @fgatti675 , I wondered where this Issue went. I was in the wrong repository!

https://github.com/eliataylor/clock-agendas/issues/16

I LOVE your project by the way. We're building open open source platform around it.

 Is there a good first issue I can help with?

[2021-03-09 18:02] #60 closed

[2021-03-12 12:34] fgatti675 commented on #60
Haha no worries @eliataylor !
Thanks a lot for your nice words 🙌
The best way you can help me right now is implementing your project and giving us feedback on your experience, pain points / things to improve :)

[2021-03-12 14:31] fgatti675 commented on #58
Added in version 0.29.0 ;)
You can change the locale (though it is only modifying the language of the date for now)
And you can also override the full format

[2021-03-12 14:31] #58 closed

[2021-03-14 11:13] shaniceweiwei opened #61 "CSV export timestamp"
CSV export Firestore Timestamp to something like 1588926124206. How do I make it to human readable form?

[2021-03-14 11:48] fgatti675 commented on #61
Hi @shaniceweiwei
That is a Unix timestamp, so it's the number of milliseconds since January 1st, 1970 GMT
https://www.unixtimestamp.com/
We will add the option to export timestamps in a human readable form

[2021-03-14 11:48] #61 closed

[2021-03-14 17:16] #21 closed

[2021-03-15 10:30] fgatti675 opened #62 "Allow to override main configuration based on logged in user"
In order to provide different levels of access to different users, we need to add more granular flags to CRUD operations, as well as allow setting the main configuration based on the logged in user.

[2021-03-15 10:36] fgatti675 commented on #50
I'm closing this issue since adding HTML editing capabilities is currently out of the scope of the CMS and we have made the fixes necessary to allow developers to implement their own custom field if needed!

[2021-03-15 10:36] #50 closed

[2021-03-15 10:36] #43 closed

[2021-03-16 16:28] fgatti675 commented on #62
Implemented in version 0.30.0

[2021-03-16 16:28] #62 closed

[2021-03-16 17:02] fgatti675 commented on #36
Hi @tijnar
We have revamped the permissions system in version 0.30.0 and now you can prevent users from creating new entries :)

[2021-03-16 17:02] #36 closed

[2021-03-21 04:27] tijnar opened #63 "Sorting results empty collection"
I am getting a "This collection is empty" message when I try to do sorting in the collection field's arrow up and down button. Currently, I am using 0.21.2 version. I tried to update my version greater than 0.21.2 but encounter this error message. Any way to fix this issue?

[code]

[2021-03-21 11:26] fgatti675 commented on #63
Hi @tijnar
You can get an empty collection when sorting if the values you are sorting for are not present in the database. That is by design in Firestore, we can probably add a message explaining why you get this result. If your values were `null` instead of missing, it would work as you expect.
I really don't know about the error you are having, but probably the easiest way to sort is comparing y

[2021-03-21 13:38] netsgnut opened #64 "Potential collision when two uploaded file name share the same name"
Hi!

Thank you for the awesome library - we are currently using this for a project.

One problem we have faced currently is that when the file names for two uploaded files collide, possibly for different entities, the file gets replaced by the newer upload.

For example, consider a schema with the following `images` field.
[code]

To reproduce:
1. Create an entity with an uploaded file of `image.j

[2021-03-22 17:50] netsgnut commented on #64
Thanks @fgatti675 ! Yeah, I totally agree that devs can always do the hashing (based on the file names at least) when we go with 1c, and of course 2 can provide even better flexibility in other cases.

Looking forward to trying that out ;)

[2021-03-26 13:15] fgatti675 commented on #64
Hi @netsgnut I have uploaded version 0.31.0 with callbacks for `fileName` and `storagePath` :)
You don't really get the entity, but the entity id and the entity values of the current form.
Note that the `entityId` could be `undefined` if this property is part of a new entity that does not exist in Firestore yet.
If this is a problem, as a work around, you could disable the field for newly created

[2021-03-28 05:05] netsgnut commented on #64
Thank you, @fgatti675! I will try that out ASAP and see if it works in our project. Just from looking at the API docs, though, it already seems promising enough!

[2021-03-31 08:59] LaurentEscalier opened #66 "Broken links in the Custom Fields documentation"
Hi there 👋

Opening an issue to notify about the two broken links in the [Custom Fields section](https://github.com/Camberi/firecms#custom-fields) of the docs.

<img width="843" alt="Screen Shot 2021-03-31 at 10 53 23" src="https://user-images.githubusercontent.com/62994416/113118296-9bbdbd00-920f-11eb-9ebe-255629112e73.png">

[2021-03-31 09:39] LaurentEscalier opened #67 "Custom Field - Map"
Hi there 👋

I am trying to have my schema feature an array of contents that can be of different types, as the example below shows:

[code]

The goal is for my content managers to be able to add contents to the array and have each content featuring dynamic `attributes` fields that depend on the content type that has first been selected.

I have tried using [Conditional fields from properties](https

[2021-03-31 13:23] fgatti675 commented on #66
Thanks for the catch! Fixed :)

[2021-03-31 13:23] #66 closed

[2021-03-31 13:34] fgatti675 commented on #67
Hi @LaurentEscalier :)
This is a very interesting use case.
It is something you can totally achieve with custom fields but it will require a little bit of work.
It would make your life easier if we exposed the internal fields so you can reuse them in your custom field.
So I'll look into that.
I feel this is may be a use case common enough so I am going to consider implementing it directly into the

[2021-03-31 13:41] PupoSDC commented on #67
Would you welcome contributions?

This functionality is quite central to our upcoming developments, if we are going to develop it anyway, might as well help you out.

[2021-03-31 14:02] LaurentEscalier commented on #66
Thank you for the quick fix 🙏

[2021-04-01 09:48] fgatti675 commented on #67
That would be awesome!
There is 2 ways to go:
- The simplest one is you develop a `CustomField` of type `array`. If the types you want to use in your array are preset you can code them inside your component. Otherwise, if you want to make it generic and inject the components externally you can use the `fieldProps` like in this example (just a suggestion of how you could implement it)
[code]

- The

[2021-04-01 13:38] LaurentEscalier commented on #67
Thank you @fgatti675 for reacting so fast on this issue !

We'll try to implement that with a `CustomField` of type `array` and share our experience here then 🤞

[2021-04-02 09:22] fgatti675 commented on #67
I have made a bunch of changes to make your life, and anyone implementing custom fields easier.
It is now simpler to create your own properties structure and map it to fields however you see fit.

I have also changed slightly the API of the custom fields to make it more consistent.

I have created example a custom field and a preview that gets mapped to a structure of properties defined by the dev

[2021-04-02 09:26] PupoSDC commented on #67
Hi @fgatti675 we are going over a long weekend holiday, we will pick this up as soon as possible on tuesday.
Thank you so much for your efforts!

Have a nice Easter 🐰

[2021-04-06 14:26] LaurentEscalier opened #68 "[Feature request] Add support for reference field properties in the list views"
Hi there 👋

_I must first apologize in case this is already supported, but it wasn't in the version I experimented with last week._

The CMS features a `properties` option in the [Collection Configuration](https://github.com/Camberi/firecms#collection-configuration) that allows to white list columns that should show up in the List view.

This option does not seem to support properties of [referenc

[2021-04-07 12:44] PupoSDC commented on #67
So im finally giving this a go. Am i missing something, or this only allows to add one entry in the array?

![image](https://user-images.githubusercontent.com/9625304/113868200-b6fc6f80-97af-11eb-84e0-54da9008053d.png)

There seems to be missing some sort of "add more" button.

[2021-04-07 14:09] fgatti675 commented on #64
I'm closing this ticket as it should be resolved :)

[2021-04-07 15:39] fgatti675 commented on #68
Unfortunately this is not implemented at the moment, though we can consider it for the future!
For now you can use Additional columns to generate read only columns that are mapped to any value you want

[2021-04-07 16:13] LaurentEscalier commented on #68
@fgatti675 Thanks for answering on that. I'll be looking into the [additional columns](https://github.com/Camberi/firecms#additional-columns) option. Can you maybe point to an example schema using this feature ? Thanks !

[2021-04-07 18:34] fgatti675 commented on #68
Sure, there is an example column in:
https://github.com/Camberi/firecms/blob/master/example/src/SampleApp/schemas/products_schema.tsx#L250
(in your case you don't need to use the `AsyncPreviewComponent` since you can simply return the value of the map you need)
Then that delegate is used here:
https://github.com/Camberi/firecms/blob/12fd62496b24d8951527fab7e285ca35d8b2e7af/example/src/SampleApp/Sa

[2021-04-07 21:08] PupoSDC commented on #67
All right @fgatti675, it finally clicked what i should do.

Let me share with you our implementation!

So, for starters, our desired structure can be summarized in code like this:

[code]

In words, each `Course` contains an array of `content`s which contain
completely arbitrary props. The NoSQL database poster child.

So, what works for us the CMS looks like this:

[code]

so as we can see, the o

[2021-04-08 20:10] shelooks16 opened #69 "[feature] custom onSave implementation"
Hey!

Is there a way to define custom callback when data is saved/updated?

Consider a situation when a collection or document are read-only, write operations can be only done server-side.
[code]

`onSaveSuccess` and `onPreSave`  are hooks around client-side save operation.

For example, custom save operation would let us perform calls to an API to update data.

Something like this defined on Sche

[2021-04-09 09:42] fgatti675 commented on #67
This is so awesome!!
I am really glad you could make it work out.
The `oneOf` selectors sounds like a good idea :)
I am going to check the best way to integrate it into the framework :)

[2021-04-09 10:08] fgatti675 commented on #69
Hi Andrew, for your use case, I would suggest implementing that logic as a Cloud Function.
You could create an `onUpdate` `onWrite` or `onCreate` function and modify your data as you see fit. The CMS would update the UI automatically since it is always listening for background updates. That way you don't need to implement APIs in the client that are probably better suited in the backend, you don't

[2021-04-09 12:40] shelooks16 commented on #69
I undestard that but unfortunately this is not the use case 😢

Firecms validates data before it's written to Firestore but it does not prevent someone outside of Firecms to do so - in the app, through public URL, etc. There are security rules, but... data validation for some documents using security rules is simply not feasible. That's why `write` logic is moved to custom backend - to perform cust

[2021-04-17 20:16] osmankh commented on #37
Hello @fgatti675,
First Big Thanks for you and all the contributors for building this awesome cms!
I just need to know if there is any updates/ways to compress and resize images before upload. Is their a plan to add this feature? if not can you please just guide me how can I work around to achieve it!
Thanks again.

[2021-04-20 06:07] justbcuz opened #70 "Parent Document or Collection Reference ID Access onPreSave"
Is there any way to access the parent document or collection  reference ID prior to saving a new entity.

The use case is, I am building collection with sub-collections, I would like to the parent document ID to be a property of the child. I know I can achieve this with a post save/update firebase function, but the parent document reference should already be available to me via the framework. Unde

[2021-04-22 13:26] fgatti675 commented on #70
Hi @justbcuz :)
In the preSave hook there is a `collectionPath` property that contains the full path of the collection of the entity, including the parent entity id. Could you use that for now?
I am going to check if I can add all the parent entities (not just the last one) to the hook :)

[2021-04-23 04:04] justbcuz commented on #70
@fgatti675 Thank you, that sounds awesome! Let me know when you get a chance to look at this.

In the meantime I will definitely look at the `collectionPath` property. I appreciate the quick response.

[2021-04-23 19:46] justbcuz opened #71 "[Feature] Map data type similar to an Array with  the "of" attribute"
Is it possible to create a Map data type similar to an Array with the "of" attribute, so we can have a dictionary of defined key value pairs, but the key and values are defined and added in the CMS UI.

Thanks,
Justin

[2021-04-24 09:34] fgatti675 commented on #71
Hi @justbcuz
So the CMS supports regular `map` data types where the developer defines the keys and possible values.
It is currently not possible to allow users to define the keys.
What you can do is build your own `CustomField`.
You can take the example in
https://github.com/Camberi/firecms/tree/master/example/src/SampleApp/custom_shaped_array
as a reference.
In that example we create a custom fie

[2021-04-27 14:06] netsgnut commented on #64
Thank you @fgatti675 and sorry for the radio silence. It works great! One minor thing is that the `storageMeta` was not populated with the field properties unless it was first saved, making dynamic paths/filenames not possible.

However, in our case, we can simply walk away with random IDs (e.g., UUID v4). Thank you so much for making that change. :+1:

[2021-04-27 15:41] fgatti675 commented on #64
Hi @netsgnut !
Where exactly is `storageMeta` not populated? You mean in the `storagePath` or `fileName` builder?
After saving you mean when the entity is already existing?
In new entities (so when you click on the new button) we can't pass the id in the callback since it has not yet been generated but the `storageMeta` should be no problem.
Thanks!

[2021-04-28 10:22] eliataylor opened #72 "make `useSideEntityController()` available outside of `CMSApp`"
Thanks again for all your work with this!

We were hoping to open any entity form from buttons around our app  (outside of the the `CMSApp` component).

The doc's example seems to suggest that's the hook's intent, but [our implementation]( https://github.com/DemocraseeClub/website/issues/32) so far does nothing.

[2021-04-28 10:28] eliataylor opened #73 "Allow passing firebase.initializeApp object rather than firebaseConfig"
(another enhancement request)... To avoid issues surrounding

It would be nice to support passing `CMSApp` the `firebase.initializeApp(config)` object and thus skip instantiating later.

some other details on [our issue](https://github.com/DemocraseeClub/website/issues/21)

[2021-04-28 10:57] fgatti675 commented on #72
Hi @eliataylor
So the hook uses a Context that is provided by the `CMSApp` component, which is also the one that contains the view that is being displayed and is also coupled with the main navigation of the app. So the component calling `useSideEntityController` need to be under `CMSApp` in order to work.
I think I need to understand better your use case to propose a solution.
In the long run we w

[2021-04-28 11:20] eliataylor commented on #72
@fgatti675 thanks.  We're currently rebuilding our Auth system per https://github.com/DemocraseeClub/website/issues/35. All the code is open source.

In short, we'll being using Functions to connect `firebase.auth` to `firestore.collection.users`. Eventually we may need something like `firestore.collection.permissions` to hold a more granular list, but that seems extremely complicated to implement

[2021-04-28 11:23] fgatti675 commented on #73
Interesting, the `CMSApp` component has this check:
[code]
So in theory it should not try to initialise firebase again if it was already previously.
You are initialising Firebase from within a <script/> tag?

[2021-04-28 11:35] eliataylor commented on #73
yes: https://github.com/DemocraseeClub/website/blob/master/public/index.html#L38

[2021-04-28 13:54] fgatti675 commented on #72
Hi @eliataylor
I meant more how you are using FireCMS in conjunction with a bigger React app. FireCMS is meant to be used a full app and it is not really ready to be used as a component for now.
But I have tried running your project locally and I'm surprised to see it is mostly working!
The issue you face would probably be solved if we split `CMSApp` into something like `CMSAppProvider` (that you

[2021-04-29 02:48] choguun opened #74 "NextJS Issue."
Hi

I got a problem when using it in NextJS project.
I showed a message below.

./node_modules/typeface-space-mono/index.css
Global CSS cannot be imported from within node_modules.
Read more: https://err.sh/next.js/css-npm
Location: node_modules\@camberi\firecms\dist\index.modern.js

How to fix this.

Thanks

[2021-04-29 09:20] netsgnut commented on #64
Oh, my bad use of words there, apologies. I meant to refer to the `FileUploadContext`, in particular the `entityValues` fields. And yes I definitely understand the properties not populating during the editing, and in our project, we are very happy to have just used some `nanoid` there with an appended extension.

Thanks so much again!

[2021-04-29 16:38] fgatti675 commented on #72
Hi @eliataylor
I have split the code of `CMSApp` in version 0.36.1 into 2 main components: `CMSAppProvider` (which contains all the providers and contexts used by the CMS, including the side dialogs) and `CMSMainView` (which includes the views of the CMS)
`CMSApp` is still there and now is in charge of just initialising Firebase and these 2 components.
I have created an example that uses this appr

[2021-04-29 16:40] fgatti675 commented on #73
Check https://github.com/Camberi/firecms/issues/72#issuecomment-829411425 since it should solve this issue as well :)
You still need to pass the config to the CMS components with that approach but they will not try to initialise Firebase.

[2021-04-29 20:56] jagaSto commented on #67
Hey @fgatti675, thank you very much for creating this lovely project, we just stumbled upon this and it looks so very promising!

Do you have by any chance an ETA for the `oneOf` selector? It would be the cherry on the top for our use case!
We already tried to get @PupoSDC's solution running, but unfortunately, it seems to be partly incomplete (e.g., `CourseContentArrayFieldPreview` is not defined

[2021-04-30 07:15] PupoSDC commented on #67
@jagaSto , yeah i didnt bother with implementing that one for my PoC. In my code I had something like

[code]

But you should be able to work it out from the custom preview in the example code.

[2021-04-30 16:30] fgatti675 commented on #74
Hi @choguun
Can you try with version 0.37.0?
I have removed that import

[2021-04-30 17:38] choguun commented on #74
same problem in version 0.37.0

[2021-04-30 21:29] jagaSto commented on #67
@PupoSDC, thank you, we managed to get it working in the end 😊

[2021-05-01 19:53] mauriceackel opened #75 "Unique field validation fails on nested object"
Hi there, I have the following schema:

[code]

The important thing is, that there is a `unique` validator set in the nested `name` and `type` fields respectively. Now, as soon as I set a value in the UI, an error is thrown:

[code]

My guess is, that [this](https://github.com/Camberi/firecms/blob/842fa8a9c90c5fdd1388e78f7b2c78ff71e8359c/src/form/validation.ts#L76) line is executed. Hence the `und

[2021-05-02 08:12] fgatti675 commented on #75
Thanks for the catch @mauriceackel !
I'll look into it :)

[2021-05-02 08:45] fgatti675 commented on #75
Checking this, Firestore does not allow the kind of queries over indexes in arrays.
Also, it is not totally clear to me what your intent is with this configuration.
Would like...
a) ...to have unique values in each entry of the array **within** the same document?
b) ...to have unique values across all the arrays in **all** documents?
In any case we will fix the code so it does not break and just s

[2021-05-02 10:04] mauriceackel commented on #75
Hi @fgatti675 and thanks for looking into this!

My use case would be what you have described in `a)`. Image you have have an array of elements where each one has a `name` property. The name is southing you would show to the user (i.e. as the text of a button). So you want all names to be distinct so that they are distinguishable for a user.

I think this should be able to check for using yup and

[2021-05-02 10:15] mauriceackel opened #76 "feature: Allow path parameters in additional views"
Hi there and thanks for the awesome project.

I am currently building a custom view and I would like to pass it some path parameters. I added those to the 'path' property of my CMSView (i.e. path: 'myawesomepath/:param') and I can already retrieve the parameter value by using the `useParams` hook from  react router.

However, whenever I open the view from the Dashboard, I will be navigated to 'mya

[2021-05-02 10:39] fgatti675 commented on #75
Got it!
In this case I would need to think if we want to keep the API as it is or create a different prop, something like `uniqueInArray` which has no effect outside arrays.
It's a bit tricky considering the different data structures you can have... suggestions are welcome!

[2021-05-02 11:36] mauriceackel commented on #75
I think in the end it depends on how easy it is to check whether the current entity being validated is part of an array. If this can be achieved rather easily (perhaps by passing some parameters [here](https://github.com/Camberi/firecms/blob/842fa8a9c90c5fdd1388e78f7b2c78ff71e8359c/src/form/validation.ts#L196) ??), I would vote for keeping the name `unique` and handling it correctly in the validat

[2021-05-02 15:55] mauriceackel opened #77 "bug: Server timestamp forced on creation of timestamp fields"
When one creates a new document, which has fields of type timestamp, he/she can set a date. However, on save the values will be overwritten and instead the server timestamp will be used.

I believe this is due to this part of the code: https://github.com/Camberi/firecms/blob/30935d2652c3169d35f9ebb921d8597cd353e506/src/models/firestore.ts#L483-L484

where the existing value is overwritten with the

[2021-05-02 20:33] PupoSDC opened #78 "[Feature] Statically set schemas"
It would be great if we could do something like this:

[code]

Thanks a lot for your work here 💯

[2021-05-03 09:07] fgatti675 commented on #78
Hi @PupoSDC
`buildSchema` is just a utility function that just returns the input. It is used to take benefit of Typescript types and get the IDEs perks.
[code]
This is the code for the function. The first generic type is expecting a `Key` which are strings that represent the developer defined keys of the properties, and should not be instantiated.
I don't know exactly what your `Category` object h

[2021-05-03 09:27] fgatti675 commented on #77
Thank you @mauriceackel
Just to clarify, you did not set the `on_update` or `on_create` flags right?

[2021-05-03 09:54] mauriceackel commented on #77
Hey, no I have not set any flags. I just set the dataType to `timestamp`.

[2021-05-03 10:22] PupoSDC commented on #78
Thank you for your prompt reply. This is more of a feature request, than a call for help.

Let's imagine the following simple case:

[code]

This would work fine, but the type of my categories would mismatch with what I actually intended to do. My feature Request would be that `buildSchema` takes an optional template parameter with the typescript type im going write down as a schema, so that if i

[2021-05-03 14:30] fgatti675 commented on #77
Should be fixed in version 0.38.0 :)

[2021-05-03 14:32] fgatti675 commented on #75
Hi @mauriceackel
I have ended up adding the flag `uniqueInArray` that is meant to fulfil your use case. It works with direct children of array properties or direct children of a MapProperty if specified as `of`.
I felt that reusing the `unique` (which now means the only value in the collection), would be confusing if it had a different behaviour under an array.
Let me know if it works for you!

[2021-05-03 15:37] mauriceackel commented on #77
Amazing 🚀❤️🎉 Thank you!

[2021-05-03 15:43] mauriceackel commented on #77
I can confirm that this works in my setup with version 0.38.0

[2021-05-03 15:43] #77 closed

[2021-05-03 15:49] mauriceackel commented on #75
Hi @fgatti675, thanks for the quick proposal 💯 I added the the property like so:

[code]

But when I add an element to my array, react throws an error:

<img width="1027" alt="Bildschirmfoto 2021-05-03 um 17 49 03" src="https://user-images.githubusercontent.com/20804369/116899459-db752b80-ac37-11eb-8109-517817fe0442.png">

[2021-05-03 15:50] mauriceackel commented on #75
How ever I can confirm that the original error is not longer thrown when I try to set the `unique` property 👍

[2021-05-03 17:14] fgatti675 commented on #77
Great!

[2021-05-03 17:19] fgatti675 commented on #78
Ah I understand! So getting statically type checks based on your Typescript interfaces.
Makes total sense, and would make a nice enhancement.
I'm adding it to the backlog. If you feel like giving a shot at the implementation let me know!

[2021-05-03 17:23] fgatti675 commented on #75
Can you try version 0.38.1?

[2021-05-03 17:40] mauriceackel commented on #75
Works as expected 🚀 Your on 🔥😃

[2021-05-03 17:40] #75 closed

[2021-05-03 17:46] fgatti675 commented on #75
Haha glad to hear @mauriceackel
Have a good day!

[2021-05-03 18:43] PupoSDC commented on #78
I waI have some free time on friday, I will try to do it then. Time to polish my TS skills <3

[2021-05-05 09:08] eliataylor commented on #72
@fgatti675 that worked well! Gracias!!!

I can imagine why, but one unfortunate requirement is that `CMSMainView` still has to be mounted with `display:none` where ever we call `useSideEntityController`. See our implementation here: https://github.com/DemocraseeClub/website/blob/8a3655b62105082a1527a0b0159ea309c2e0574a/src/App.js#L119

Otherwise, a dream would be to have a little more control over

[2021-05-05 09:08] #72 closed

[2021-05-05 12:51] fgatti675 commented on #72
Hi @eliataylor
You are right, the side dialog view was in the CMSMainView, which was wrong.
I have moved it to the provider in version 0.38.2 so you can use it without the main view.
The only breaking change is you need to move the theme data (colors and font) from the main view to the provider
About the form, could you open another ticket explaining what kind of customization you would like?
Also

[2021-05-06 13:18] fgatti675 commented on #78
Hi @PupoSDC
Thanks a lot for your PR!! I have merged it but modified it a little bit. The function you need is now called `buildSchemaFrom`
and I have modified it slightly. I have also tried checking the property data types based on the Typescript types but failed!
I already tried once and failed as well, I have to admit Typescript has defeated me here!
I am pretty sure it's possible but I am gett

[2021-05-06 13:18] #78 closed

[2021-05-06 13:30] PupoSDC commented on #78
Thanks a lot! Hurray!

I will see if i can improve on this. But for now im already quite happy with this functionality!

Cheers!

[2021-05-06 13:54] PupoSDC opened #80 "CSV export does not stringify objects properly"
If your collection has a map, or an array, the exported csv will show something like:

[code]

Maybe it's possible to print these nested collections in a better way? Not exactly sure how, but something like YAML style sounds appropriate.

Let me know what you think. I dont mind working on this if its not a priority for you.

[2021-05-06 21:25] PupoSDC commented on #80
BTW, and unrelated to this issue, Im completely unable to test this properly as when i do `npm link` to this project, node just enters an infinite loop when compiling and eventually crashes by running out of memory.

Could you share a bit your setup to develop this? Im trying to `npm link` here, followed by `npm link "@camberi/firecms"` on my own project, but this is bringing me a lot of misery...

[2021-05-07 08:07] PupoSDC commented on #27
Hi @fgatti675, If this is low priority for you, I would like to give this a try. `react-18next` is also my favourtie framework for this, so i would use that. I can Provide translation to portuguese, and eventually, my company would apretiate having in german ;)

[2021-05-07 11:26] fgatti675 commented on #80
Ah yes, serialising arrays of objects in CSV files is a problem!
There seems not to be a preferred way to do it. The way I would go with it is to include the data as a JSON probably. We are currently not using YAML anywhere within the app.
It probably makes sense to include some exporting options in that dialog, such as how to serialise arrays, or date formats (unix timestamps vs ISO8601).
Regardi

[2021-05-07 11:27] fgatti675 commented on #27
That would be awesome @PupoSDC !

[2021-05-08 05:17] justbcuz opened #81 "onPreSave Create a Reference Object from Collection Path"
I have a User scheme where the `customer` property is a reference type and is set to read only.

When I save the object I want the onPreSave handler to parse the `collectionPath` and create the reference object back to the customer.

The save works, but the value is stored in Firestore as a string, not a reference and the CMS UI says:

The customer property of the onPreSave `values` argument is ex

[2021-05-09 04:13] PupoSDC opened #82 "[Bug] Master branch types break example"
I think this issue is only available on master and its potentially not release as of now, but when I install and link the example project to master I get these warnings:

[code]

[2021-05-09 04:15] PupoSDC commented on #80
Bummer, for me that doesn't work. I get a `webpack developer server version mismatch` error. Manually linking the project with `link:..` seems to work a bit better though.

[2021-05-09 12:12] fgatti675 commented on #80
I have been having issues with the latest version of the code as well, as you suggest, I've changed the linking of all related dependencies to `link:...` to make it work for now, but I need to do a big dependency check!
Thanks

[2021-05-09 14:38] PupoSDC commented on #80
I I couldn't crack that nut either. Something that also helpes was adding this `.env` to the example:

[code]

[2021-05-10 09:07] fgatti675 commented on #81
Hi @justbcuz yes that's the way to go :)

[2021-05-10 09:07] #81 closed

[2021-05-10 10:56] fgatti675 commented on #80
Hi @PupoSDC, let's continue the discussion at
https://github.com/Camberi/firecms/issues/82
and leave this issue for the CSV export discussion :)

[2021-05-10 11:02] fgatti675 commented on #82
Hi @PupoSDC
I have done some dependencies update and revamp in the master branch
Related to what we were discussing in https://github.com/Camberi/firecms/issues/80 I have moved all main peer dependencies in the example to use the `..link` system instead of needing to link them manually, since it feels more reliable:
https://github.com/Camberi/firecms/blob/master/example/package.json
Also MUI depen

[2021-05-10 11:38] PupoSDC commented on #82
will give it a try ASAP!

[2021-05-10 19:04] fgatti675 commented on #76
Hi @mauriceackel I'm thinking about this, and the best way to make it work for your use case while keeping a clean API.
Effectively you need to be able to add the same view to the router with different paths '/myawesomepath/:param' and '/myawesomepath'
My preferred solution would be to add a flag `hideFromNavigation` that when set to true simply does not include the entry in the main menu but yes

[2021-05-10 22:10] mauriceackel commented on #76
Hi @fgatti675 , I understand your rationale behind this Idea though I'm not 100% how to think about having to specify a view twice then.. But I think the idea of being able to add routes that are not necessarily visible in the dashboard is a good one!

I'm thinking about whether there might be a strict destination between defining view/routes and defining the dashboard, like you do when defining r

[2021-05-13 14:31] fgatti675 commented on #76
Hi @mauriceackel
A couple of changes in version 0.39.0, you can specify multiple paths in views, e.g: `path: ["mypath", "mypath/:param"]` and only the first one is considered to the navigation drawer.
Additionally `hideFromNavigation` has also been added as a prop since it could be useful for someone else.
Let me know if it works for you :)

[2021-05-13 14:31] #76 closed

[2021-05-13 14:31] fgatti675 commented on #82
This changes have all been merged and released in version 0.39.0 :)

[2021-05-13 14:31] #82 closed

[2021-05-15 09:38] mauriceackel commented on #76
This works great! Thanks a lot @fgatti675 🚀

[2021-05-19 12:58] #71 closed

[2021-05-19 12:59] #73 closed

[2021-05-19 18:09] fgatti675 commented on #72
Hi @eliataylor
Just to let you know we have enabled the sponsors program!! Really excited about it :)
https://github.com/sponsors/Camberi
Hope your project is going good!
Let me know if I can support you in any way

[2021-05-24 21:05] eliataylor commented on #72
@fgatti675 , regarding authentication, I wrote a function to merge the Provider data with our Firebase user collection:

https://github.com/DemocraseeClub/website/blob/master/functions/src/index.ts#L219

Inside of your `CMSAppProvider.authentication` I'm trying to `authController.setAuthResult(mergedUser)`:

https://github.com/DemocraseeClub/website/blob/master/src/views/firebaseCMS/FirebaseCMS.ts

[2021-05-25 02:16] eliataylor commented on #72
this screenshot shows `setAuthResult` [FirebaseCMS.tsx](https://github.com/DemocraseeClub/website/blob/master/src/views/firebaseCMS/FirebaseCMS.tsx#L184) and the `setAuthResult` in [footer.js](https://github.com/DemocraseeClub/website/blob/master/functions/src/index.ts#L219)

![Screen Shot 2021-05-24 at 7 13 31 PM](https://user-images.githubusercontent.com/6335974/119429725-47d9cc80-bcc4-11eb-8cd7

[2021-05-25 09:39] choguun commented on #74
same problem in version 0.39.0
Do you have any updates?

[2021-05-25 11:29] fgatti675 commented on #74
Hi @choguun
Unfortunately FireCMS depends on FirebaseUI which does not support SSR and there is no easy solution unless we replace that library all together, it would mean reimplementing all the login flow on our own.
It is not likely to happen.
There are people already asking for SSR support for FirebaseUI so maybe you can try there!

[2021-05-25 18:41] eliataylor commented on #72
@fgatti675 , i dug into the FireCMS source and now realize the user does need to be an instance of the [firebase.User](https://firebase.google.com/docs/reference/js/firebase.User).

Basically, i'm trying to access our firestore `role` field on the user available in your `PermissionsBuilder` as well the `useAuthController`. Is either possible?

[2021-05-25 18:49] eliataylor commented on #72
As a potential solution, could we expand the [NavigationBuilderProp](https://github.com/Camberi/firecms/blob/672b6498948541cb7a02e6d136f3bff2a8a8dcb2/src/CMSAppProps.tsx#L123) support another property like `firestore: <firebase.firestore.DocumentData>` ?

[2021-05-25 18:57] fgatti675 commented on #72
Hi @eliataylor
If I understand it correctly, you are copying the Firebase user to your custom Firestore collection.
The permission builder is going to give you the firebase.User but you need the Firestore document where the roles are stored.
What you need to do is to use the user ID to fetch the specific document from your `users` collection.
[code]
`PermissionsBuilder` can be async so you can use

[2021-05-25 19:00] eliataylor commented on #72
@fgatti675 , i understand how to query for the roles. Now i'm trying to add it to the FireCMS context so I don't have to do that all over the place.

*How do I pass the result of that query to your `permissions` and `useAuthController` functions?

[2021-05-25 19:05] eliataylor commented on #72
Where are these? I only see solutions using Firestore fields like https://firebase.google.com/docs/firestore/solutions/role-based-access

[2021-05-25 19:06] eliataylor commented on #72
We'll try to keep that recurring.

[2021-05-25 19:16] eliataylor commented on #72
@fgatti675 , i now realize I can just `const [fbUser, setFbUser] = useState<Object>();` and pass the `fbUser` to through my schema builders! GREAT!

Now what about `useAuthController()` or should I just create and manage my own context / redux store?

[2021-05-26 09:22] fgatti675 commented on #72
Ah sorry! I misunderstood.
How about if we add an `extras` and `setExtras` state methods of type any in authController so you can store your user document there?

[2021-05-26 10:06] fgatti675 commented on #72
Ok, so I have removed the `authResult` fields as they were legacy from internal use and were not being used, and only causing confussion.
I have also added `extra` and `setExtra` properties in `useAuthController()` in version 0.39.1
That way you can store your `fbUser` there and access it from wherever you need in your app :)
I called it extra so it's generic enough for anyone to use.

What I mean

[2021-06-04 11:07] k00na opened #89 "Undesired behaviour - Fetching all the documents of a collection"
Yesterday I played around with FireCMS to test it out and was a bit shocked when I saw this today on Firebase console.

![Screenshot 2021-06-04 at 13 03 03](https://user-images.githubusercontent.com/13611208/120792013-351d8e00-c535-11eb-9787-cdd9cc8d85ab.png)

Here's the deal:
- I have a collection with 11000 documents.
- Each time I open a FireCMS list view for this collection it fetches all 1100

[2021-06-04 11:37] fgatti675 commented on #89
Definitely not the intended behaviour!
FireCMS should paginate  data, unless you specify `pagination`: false
I will look into this

[2021-06-04 14:03] Rohithgilla12 opened #90 "Tried replicating the example got the following error"
[code]

[2021-06-04 14:15] fgatti675 commented on #89
@k00na I haven't been able to reproduce this!
Could you check the console and make a screenshot after scrolling down on your collection?
The number should increase 50 by 50, if the parameter was not changed or pagination disabled.
If you filter by the verbose log messages you should see something like this:
<img width="643" alt="Screenshot 2021-06-04 at 16 14 42" src="https://user-images.githubuse

[2021-06-04 15:29] fgatti675 commented on #90
Hi @Rohithgilla12
Seems to be related to a bug in the latest version of Firebase (8.6.4)
https://github.com/firebase/firebase-js-sdk/issues/4977
I got the same error with that one but it works fine with 8.5.0
You can use that version in the meantime :)

[2021-06-04 19:12] Rohithgilla12 commented on #90
Hey, it works thanks for the amazing package and support.
You are amazing.
Closing the issue

[2021-06-04 19:12] #90 closed

[2021-06-04 21:01] fgatti675 commented on #90
Thank you @Rohithgilla12 !
That's really nice of you :)

[2021-06-16 18:36] fgatti675 commented on #89
Hey @k00na did you have the time to verify this?

[2021-06-18 06:48] anshsrtv commented on #48
Is this issue related to the mass upload of documents to collections with files of CSV/JSON format?

[2021-06-18 09:22] fgatti675 commented on #48
Hi @anshsrtv
No it isn't! This one related to be able to drag and drop files directly in the collection view (now you can only upload files like that in the form views).
We don't currently have a ticket for mass uploading or importing documents, but feel free to create one :)

[2021-06-18 09:28] anshsrtv opened #97 "Mass upload of documents to collections with files in CSV/JSON format"
This feature can be used to allow users, upload a sheet full of data directly to firestore.

[2021-06-18 09:32] anshsrtv commented on #48
Hi @fgatti675! I have created #97 and also look forward to solving it. It will be great if you could help me find the right approach for it since I'm new to the repository and codebase.

[2021-06-18 12:05] fgatti675 commented on #97
Hi @anshsrtv
If you would like to get with it, there are instructions for further developing the CMS in https://github.com/Camberi/firecms/tree/master/example
Importing is a bit trickier than exporting since you will need to handle data input errors.
Also it is important to keep in mind that this process will happen in the frontend and users might close the tab at any time, so we probably want to

[2021-06-21 06:05] anshsrtv commented on #97
I'm having trouble while setting up the project. I get this error when running `yarn build` in the example folder.
[code]
When I try to run `yarn add react-scripts`, I again get an error.

[2021-06-21 08:09] fgatti675 commented on #97
Hi Ansh,
Did you simply run `yarn` before that (in the root folder, and then in the
example folder)?
Note that if it works, you can run `yarn start` instead of `yarn build` to
keep the build process listening :)

On Mon, Jun 21, 2021 at 8:06 AM Ansh Srivastava ***@***.***>
wrote:

--
Camberi - Madrid, Munich, Milan

[2021-06-21 11:39] anshsrtv commented on #97
Hi @fgatti675, I ran both the commands in the respective folders but this error is occurring time and again.
[code]

[2021-06-21 14:44] fgatti675 commented on #89
Hi @k00na
You were right!
The collection views are loading the documents using pagination correctly but there is a sneaky Export component that was fetching all the documents eagerly, which was not intended. Now it will happen only on opening the dialog but we are working on an additional confirmation dialog for large collections.
Thanks for the catch!
It is fixed in version 0.41.1

[2021-06-21 14:44] #89 closed

[2021-06-21 19:50] PupoSDC opened #98 "Not possible to filter by additionalColumn"
I guess this is both a feature request and a bug report since this is a non documented feature, but it will also cause a crash of the application when opening the filters.

minimal example:

[code]

error when opening the filters:

[code]

[2021-06-22 10:24] fgatti675 opened #100 "Replace current filter dropdown with in-table solution"
Each table header should have a dropdown with the corresponding filtering options.
Users should be able to assign multiple filter combinations based on their indexes.

[2021-06-22 10:27] fgatti675 commented on #98
Thanks for the catch @PupoSDC !
By the nature of additional columns it is not going to be possible to filter them, since developers are able to render any React component they wish in there. Also, we use the Firestore queries to apply the filters so we can only filter by fields that are present in Firestore.
In any case, it is planned to revamp the whole filtering system, remove the popup and move

[2021-06-22 10:31] PupoSDC commented on #98
thats indeed understandable but unfortnate...
We will probably work this out using the search delegate

[2021-06-22 10:31] #98 closed

[2021-06-23 07:50] anshsrtv commented on #97
@fgatti675 Is there a way out of this?

[2021-06-23 08:21] fgatti675 commented on #97
Hi @anshsrtv
I think it is an error related to your setup, but I am not sure what it is related to.
Maybe you can try using npm instead of yarn.
You can run
[code]
in both folders.

[2021-06-23 08:22] fgatti675 commented on #97
Someone had the same problem and there are some solutions proposed here:
https://stackoverflow.com/questions/40546231/sh-react-scripts-command-not-found-after-running-npm-start

[2021-06-30 03:19] annie-elequin opened #101 "CONFIGURATION_NOT_FOUND error while going through the Quickstart steps"
Trying to get quickstart up and running, but seeing this error when I click "Sign in With Google" on my deployed site: https://ninestone-content.firebaseapp.com

I'm sure I probably just missed a step somewhere, but that probably means the Quickstart guide could use some more clarification.

The only thing I've changed was I replaced the firebaseConfig in the Quickstart App.tsx with my own values.

[2021-06-30 14:30] fgatti675 commented on #101
Hi @annie-elequin !
Did you enable Google authentication in your Firebase project?
We can definitely do a better job at explaining the prerequisites, and will do :)

[2021-07-07 11:11] fgatti675 commented on #100
Implemented in version 0.43.0

[2021-07-07 11:11] #100 closed

[2021-07-07 11:11] fgatti675 commented on #40
Fixed in version 0.43.0

[2021-07-07 11:11] #40 closed

[2021-07-07 17:38] fgatti675 commented on #101
I added some additional Firebase instructions in
https://firecms.co/docs/firebase_setup/

[2021-07-07 17:38] #101 closed

[2021-07-09 15:10] fgatti675 commented on #70
For anyone interested or having a similar issue.
There is a hook called [useNavigationFrom](https://firecms.co/docs/api/functions/usenavigationfrom/) that will return the resolved navigation entries that the CMS uses internally.
That hook can only be used in a custom component.
If you are in a callback context like preSave, you can use the function `getNavigationFrom` that works the same (but you

[2021-07-14 20:21] davemecha opened #102 "Allow async function in PermissionsBuilder to use custom claims"
It would be very helpful to be able to pass an async function to `PermissionsBuilder`, since `user.getIdToken()` returns a promise.

I want to use custom claims for managing permissions and with being able to access the token inside the `PermissionsBuilder` I can access the custom claims, as they are passed with the token.

[2021-07-14 20:42] davemecha opened #103 "How to put CMS to a subroute of my app?"
I try to find out how I could place FireCMS in a subroute.

I tried this code, but all subroutes in CMS are still relative to `/` istead of `/cms`:

[code]

[2021-07-14 21:34] davemecha opened #104 "Update to latest material-ui"
When I run FireCMS I get the following console error:

[code]

[2021-07-14 21:36] davemecha opened #105 "Missing key prop on iterating routes"
When accessing the FireCMS, I get the following warning:

[code]

[2021-07-15 14:16] fgatti675 commented on #103
Hi @davemecha
Unfortunately this is not straight forward right now, but I am checking if should just work in the next version of React Router
https://reacttraining.com/blog/react-router-v6-pre/#introducing-routes
We will definitely migrate when possible.
I'm keeping this open as a enhancement request

[2021-07-15 14:24] fgatti675 commented on #105
Is that in version 0.43.0?

[2021-07-15 14:33] fgatti675 commented on #102
Hi @davemecha
I have been looking into this and it's a bit trickier than it seems.
PermissionsBuilder is called a lot, every time a cell is rendered. If we make it asynchronous we would need to show a lot of loading indicators!
Would it work for you to load the user claims once, when the users logs in, and then pass that into the config?

If so, you can build the whole navigation asyncronously. In

[2021-07-15 14:37] fgatti675 commented on #104
Thanks Dave, we need to update the whole app to MUI v5 in order to fix that
one.
Adding it to the backlog :)

On Wed, Jul 14, 2021 at 11:34 PM Dave Gööck ***@***.***>
wrote:

--
Camberi - Madrid, Munich, Milan

[2021-07-15 18:08] davemecha commented on #105
yes, v 0.43.0

[2021-07-15 18:57] davemecha commented on #102
@fgatti675 Thanks for the feedback

I'm not sure how to accomplish that without directly using the firebase API.

[code]

The `NavigationBuilder` gets the `user` but it may not return a promise as well. I could try getting the user somehow outside the builder (with the firebase API) and only initialize the `navigation` when the user is ready.

[2021-07-16 16:42] haresh14 commented on #20
Hi @fgatti675 customisation for home has been added to the app or still its not possible? Basically I want to add some analytics and form directly on home page.

[2021-07-18 16:39] fgatti675 opened #106 "Allow customisation of home page"
Requested in https://github.com/Camberi/firecms/issues/20

[2021-07-18 16:40] fgatti675 commented on #20
Hi @haresh14 I just created a new issue for it

[2021-07-19 13:27] fgatti675 commented on #105
Should be fixed in v 0.44.0 :)

[2021-07-19 13:27] #105 closed

[2021-07-19 13:40] fgatti675 commented on #102
Hi @davemecha
I think it was already possible before, but I have made it a bit easier to add this kind of behaviour in version 0.44.0
You can return a promise in the `NavigationBuilder`, so you could get your user permissions and then save them in the `authController`, which is an internal controller you can get in some callbacks, as well as via a hook, if you have a custom component.
I have modif

[2021-07-19 15:50] davemecha commented on #102
Nice, works... :)

[code]

But now I get how I could have achieved this before... :) I could have used the `useAuthController()` hook in my app somewhere and then add my extras to it. I now do this in a custom CMSView to handle the permissions there accordingly. :)

[2021-07-19 16:46] fgatti675 commented on #102
Awesome! Happy to know it works for you :)
I need to add some more examples for these kind of use cases

[2021-07-19 16:46] #102 closed

[2021-07-20 13:26] fgatti675 commented on #67
Hi @PupoSDC @jagaSto and @LaurentEscalier :)
I finally manage to get down to implementing this feature natively.
I have a draft API that I'd like to show you and it'd be great to get some feedback on it!

In an array property you would be able to set the `oneOf` prop:

[code]

The field is not implemented yet but I'd love to hear what you think, if it's understandable enough. Thanks!!

[2021-07-20 13:28] PupoSDC commented on #67
That looks perfect to me! <3

[2021-07-23 09:10] #70 closed

[2021-07-27 21:15] olivoil opened #107 "How to prevent creating document in subcollection based on id of the parent document?"
Hi! Thanks for authoring FireCMS!

Is it possible to condition the create permission in a subcollection based on the id of the parent document?

For example, do something like this:

[code]

[2021-07-28 10:28] fgatti675 commented on #107
Hi @olivoil !
I'm adding the collectionPath to the `permissionBuilder` props ;)

[2021-07-28 15:33] fgatti675 commented on #107
Hi @olivoil
So 2 new parameters have been added to `PermissionBuilder` in version 0.45.1:
- `collectionPath` which tells you the full path above the current entity.
- `context` which is the general app context data.
With that info, you can either parse the `collectionPath` and find the id yourself, or you can use an utility function called [getNavigationFrom](https://firecms.co/docs/api/functions/

[2021-07-28 15:38] olivoil commented on #107
That was fast, I'll test it later today, thanks a ton!

[2021-07-28 15:38] #107 closed

[2021-07-29 15:44] fgatti675 commented on #67
Hi everyone!

Just to let you know that the `oneOf` prop has been added to Array properties so this feature is now implemented natively in version 0.45.1

You can check a sample implementation in:
https://github.com/Camberi/firecms/blob/master/example/src/SampleApp/schemas/products_schema.tsx#L62
or the docs:
http://firecms.co/docs/api/interfaces/arrayproperty#oneof

I am pretty excited of finally

[2021-07-29 15:44] #67 closed

[2021-07-29 19:51] PupoSDC commented on #67
What a bittersweet feeling, This would have been so cool to have a couple of weeks back for our (now defunct) Project...

Awesome job as always! <3

[2021-07-30 06:20] TheAussieStew commented on #60
Hi @fgatti675,

Thanks for making and maintaining this awesome looking library first of all.

I'm getting this error if I use the email provider:

The identity provider configuration is not found.

What do you reckon?

[2021-07-30 07:53] fgatti675 commented on #60
Hi @TheAussieStew did you enable the email provider in your Firebase  admin panel?

[2021-07-30 15:30] thisoldbear commented on #56
This would be 🌟 amazing 🌟 for a project I'm planning on using FireCMS for and a cherry on top of such a good looking CMS 🤤

[2021-07-30 19:22] fgatti675 commented on #56
Hi guys,
This will be the next feature that we will be implementing, allowing adding and selecting new entities within the reference selection dialog :)
We will also address some performance issues affecting that dialog

[2021-07-31 18:01] olivoil opened #108 "how to get the subcollection parent path in extra actions?"
Hi!

In `ExtraActionParams`, the `collection` property only contains the collection `relativePath`.

Is there a way to know the parent document path when creating custom actions for subcollections?

[code]

[2021-07-31 23:03] olivoil opened #109 "edit permission not respected on parent when opening side panel directly from subcolletion button"
It looks like there is a bug when opening the subcollection panel of a parent item.

When the `edit` permission is set to `false` on the parent, opening the side panel by clicking on the edit icon shows the side panel in view-only mode. However, opening the side panel by clicking on a sub-collection button shows the side panel in edit mode.

For example, with this configuration:

[code]

clicking

[2021-08-02 04:50] TheAussieStew commented on #60
Yes, I did, currently Google, Email and Anonymous are enabled. For now I've resorted to using the Google auth provider that comes by default, not using the SignInOptions

[2021-08-02 09:57] mattialorenzutti opened #111 "Add a small visual feedback when input fields are automatically updated"
Sometimes there is no visual feedback when informations are saved in the DB, would be better to have something discrete, could help the overall experience

[2021-08-02 14:43] fgatti675 commented on #108
Hi @olivoil
I have added the full collection path and the context in ExtraActions :)
Released in version 0.46.0

[2021-08-02 14:44] fgatti675 commented on #109
good catch! fixed in version 0.46.0

[2021-08-02 14:44] #109 closed

[2021-08-03 05:17] TheAussieStew opened #112 "Geopoint support"
I understand that Geopoint isn't currently supported, however is there a potential roadmap for adding support? Or does the custom view support allow us to add it ourselves?

[2021-08-03 09:40] #108 closed

[2021-08-03 13:03] thisoldbear commented on #56
@fgatti675 Amazing news 🕊️

[2021-08-05 11:24] osmankh commented on #37
Any updates on this?

[2021-08-05 13:08] fgatti675 commented on #37
Hi @osmankh
Sorry, I can't give you an estimate for this ticket since we have some others in the pipeline.
If you would like to give this a try, you can try to implement your own custom Field:
https://firecms.co/docs/custom_fields
For reference, the current field that is used for storage is:
https://github.com/Camberi/firecms/blob/master/src/form/fields/StorageUploadField.tsx
If you make it work,

[2021-08-05 13:09] fgatti675 commented on #112
Hi @TheAussieStew
Geopoint  support is currently not in the roadmap.
In any case, you should be able to implement your own custom field supporting it :)
https://firecms.co/docs/custom_fields
Let me know if you have an implementation so we can try to merge it into the library

[2021-08-05 13:10] fgatti675 commented on #97
Hi @anshsrtv, could you make it work?

[2021-08-06 05:32] anshsrtv commented on #97
No, sorry @fgatti675 I wasn't able to work on this, given the system limitations and other commitments.

[2021-08-07 05:03] olivoil opened #113 "add `collectionPath` to `PropertyBuilderProps` ?"
Hi!

Would it be possible to add `collectionPath` to `PropertyBuilderProps` ?

In top level collections, it's handy to have the `entityId`. In subcollections, it would be practical to get the parentId as well, for example, to use it in the storage path or metadata of a file:

[code]

[2021-08-09 18:25] fgatti675 commented on #113
Hi, added the `collectionPath` in version 0.47.0 ;)
In any case, it was already possible to have a callback, specifically for the `storagePath`
[code]
The props for the callback in the `storagePath` can be found here: https://firecms.co/docs/api/types/uploadedfilecontext/

[2021-08-09 19:14] fgatti675 commented on #111
Added in version 0.46.0

[2021-08-09 19:14] #111 closed

[2021-08-10 14:23] olivoil commented on #113
Awesome, thank you for letting me know about the other callbacks!

[2021-08-10 14:23] #113 closed

[2021-08-10 16:55] fgatti675 commented on #113
I will work on improving the docs, thanks a lot on your sponsorship :)

[2021-08-25 22:03] dhazeley opened #116 "Google Sign in Error 400: redirect_uri_mismatch"
After deploying FireCMS through firebase hosting and enabling Google Provider in Firebase Authentication, I get the following error upon login:

Authorization Error
Error 400: redirect_uri_mismatch
You can't sign in to this app because it doesn't comply with Google's OAuth 2.0 policy.

I don't see any additional options in the Firebase console or FIreCMS to configure an OAuth redirect url

[2021-08-31 20:17] nathanbenhamou opened #117 "./node_modules/@camberi/firecms/dist/index.modern.js Attempted import error: 'firebase/app' does not contain a default export (imported as 'firebase')."
Hello,
Following the quickstart tutorial, after Yarn start I have the following error

./node_modules/@camberi/firecms/dist/index.modern.js
Attempted import error: 'firebase/app' does not contain a default export (imported as 'firebase').

Any idea? thanks

[2021-09-01 14:07] fgatti675 commented on #117
Hi @nathanbenhamou
Which version of firebase are you using?
Currently we are supporting versions 7 and 8.
Next version will support 9

[2021-09-01 19:42] nathanbenhamou commented on #117
I'm on 8.13.1

[2021-09-05 16:46] gregorybesson opened #118 "How to update an attribute from another one ?"
Hello @fgatti675 and thanks for your hard work.

FireCMS is  great !

I know that I may access other attributes values from the context, but how could I update another attribute from my custom component ?

I have a component on which I select 2 dates (from and to) and I'd like to update their values from this component. Any idea ?

Thanks a lot

Greg

[2021-09-07 08:06] fgatti675 commented on #118
Hi @gregorybesson
Unfortunately this is not possible at the moment, but we will add it as an enhancement request :)
In the meantime, you have a `onPreSave` callback in the entity that may do the trick for you:
[code]

[2021-09-07 08:14] fgatti675 commented on #116
Hi @dhazeley sorry for the late reply, I was on vacation.
Could you solve this?
I suspect this is related to the config of your `Authorized domains`.
If you are deploying the app to a different domain you need to add it there.

[2021-09-07 17:07] gregorybesson commented on #118
Thank you @fgatti675,

yes i have used that trick to update the values. Something like that for those interested:

I have 2 attributes (from and to) that I want to change from another custom component.

1. In my custom component, when the user validate the selected values:

[code]

2. in the `onPresave` callback:
[code]
I had to add 2 temp attributes (fromEditor: string | null | undefined, toEdito

[2021-09-07 17:11] gregorybesson commented on #118
@fgatti675 I could give it a try.
How would you like to make it feasible ? We should add this feature in the context ?

I thought we could add a function `updateAttribute(id, value)` in the context so that it would be easy and not costly to expose this feature to other components

[2021-09-08 09:13] fgatti675 commented on #69
Quick update in case someone is interested.
We are currently working on a way to override the complete datasource implementation, allowing you to add your custom logic and even replace the whole Firestore implementation for a different one.

[2021-09-08 15:32] fgatti675 commented on #117
Hi @nathanbenhamou
I can reproduce this, I'll fix it and let you know :)

[2021-09-08 15:40] fgatti675 commented on #117
In the meantime, setting the Firebase version to 8.5.0  in `package.json` should work :)

[2021-09-10 05:44] dhazeley commented on #116
@fgatti675 No problem.

I could not get it solved and I do believe I have firebase set up correctly. Assuming my domain name is `example.com`:
- In Firebase Hosting console, I added `cms.example.com` as a custom domain. It is being hosted correctly on that domain.
- In Firebase Authentication Console, I added both `example.com` and `cms.example.com` as Authorized Domains.

[2021-09-13 11:40] fgatti675 commented on #116
I think this error is due to some specific config in your setup
Maybe you can check https://console.cloud.google.com/apis/credentials/consent?project=YOUR_PROJECT
and see if everything is in order?

[2021-09-13 13:08] fgatti675 commented on #117
Yes that problem is due to installing firebase now sets the version to 9.
The docs have been update to use 8. `yarn add firebase@8`
We have already a version in development for SDK 9 in case anyone is interested

[2021-09-13 13:08] #117 closed

[2021-09-14 19:01] faizanabidnaqvi opened #121 "Array fields still show the 'Add' button if disabled"
Hi there!

Hope you have been well! It has been a while since I tried the latest versions and I must say firecms is coming out great! :)

I was doing some custom validation based on values. I have a boolean field which if set to true, enables an array field. However, the array field still shows the 'Add' button even if the boolean field is set to false. When clicking the 'Add' button with the bool

[2021-09-14 19:05] faizanabidnaqvi opened #122 "Suggestion: Allow hiding a field if disabled"
For long forms, I think it will be nice to allow not showing certain fields based on conditions (like disabled but not show the field based on another field). Perhaps there could be an additional setting under the 'disabled' object like 'hideOnDisabled', which if set to to true, hides the field.

[2021-09-14 19:13] faizanabidnaqvi opened #123 "'You have unsaved changes..' browser popup shows up after saving with a PreSave callback"
Hi

I set a custom field in a document based on another field in the PreSave callback. It works fine, but after pressing save it shows the 'You have unsaved changes..' message in the browser. At this point, the doc has already been saved, so the message can be confusing. Additionally, it can be annoying since users have to click save and then the ok button in the browser popup.

[2021-09-14 21:21] fgatti675 commented on #123
Good catch!
We have a lot of internal changes in the `next` branch. It includes updates to MUI 5, React-router 6 and Firebase SDK 9, plus a lot of internal changes also affecting this behaviour.
We will be releasing this as version 1.0.0-alpha1
I'll keeo you updated!

[2021-09-14 21:22] fgatti675 commented on #122
It makes sense, we will add a `hidden` prop for it

[2021-09-14 21:26] fgatti675 commented on #121
Thank you! Hope you are well too :)
Fixing this in the next release

[2021-09-15 05:34] TheAussieStew commented on #112
Sounds good!

[2021-09-15 06:01] TheAussieStew opened #124 "Endless spinner on initial load"
I seem to get an endless Material UI loader spinner on load.

![image](https://user-images.githubusercontent.com/28683089/133379000-1f6cf2f1-182e-4e66-81e8-f900f191e94f.png)

I'm not sure what's changed, since I successfully replicated the quick start around August, and haven't touched my repo since. No errors in the console, but I do get this firebase warning. Any thoughts? Regardless, awesome li

[2021-09-15 10:04] fgatti675 commented on #124
Ah, that's weird...
can you quickly share your config?

[2021-09-15 10:10] fgatti675 commented on #118
Hi @gregorybesson !
Sorry for the delay, I was on holidays
If you want to give this a go, you will need to add a new function to `FieldProps`
Then you need to map that funtion in the part of the code that builds those props:
https://github.com/Camberi/firecms/blob/8d458b323bba0560b094d2af9fccbac952824b26/src/form/form_factory.tsx#L247
I would suggest using the name `setAttributeValue(name:string,v

[2021-09-16 00:22] TheAussieStew commented on #124
[code]

[2021-09-16 05:46] dhazeley commented on #116
After going through all the necessary steps in the **Edit App** page of the Oauth consent screen, and completing the Domain verification, I am still encountering the same problem.

[2021-09-16 08:38] fgatti675 commented on #124
@TheAussieStew I just edited your comment to delete your config for security, it's public anyway in case someone has access to your app, but just in case :)
Could you show me your navigation object?

[2021-09-16 14:51] fgatti675 commented on #121
Fixed in version 0.50.0

[2021-09-16 14:51] #121 closed

[2021-09-16 23:12] dhazeley commented on #116
There was an error with my firebase config. Sorry I didn't catch that earlier.

[2021-09-16 23:12] #116 closed

[2021-09-17 00:06] TheAussieStew commented on #124
Thank you! I wasn't too concerned since it's just a demo db, but might as well delete it to save myself to hassle of having to create a new db later.

Pasting the whole of my Admin.tsx component here:
[code]

[2021-09-19 11:19] grind-t opened #125 "buildProperties props"
Hi! Is it possible to get BuilderProps for buildProperties function (similar to buildProperty function)? If not, is it possible to somehow create properties based on the values of other properties? Thanks!

[2021-09-19 14:52] grind-t commented on #125
Ok, I solved my problem with a custom field :sweat_smile:

[2021-09-19 14:52] #125 closed

[2021-09-21 08:19] IdanSchiller commented on #124
Hello,

I'm getting the endless loader spinner as well

[2021-09-21 09:10] fgatti675 commented on #124
I can't reproduce this using version 0.50.0.
What version are you guys using? I think @TheAussieStew must be using an older one since in your code you use `buildSchemaFrom` which was removed in the latest versions.
Is there any repository where I can try your exact code?
Thanks!

[2021-09-21 10:33] gregorybesson commented on #118
Hello @fgatti675 np, I think I'll be able to handle it :)

Give me 2 weeks. I'll keep you posted !

[2021-09-21 13:59] fgatti675 commented on #124
@TheAussieStew That would be great :)

[2021-09-22 10:09] grind-t opened #127 "Custom field validation"
Is it possible to use validation for a custom field component that uses buildPropertyField function?
Example:
[code]
sample property validation doesn't work for this component.

[2021-09-22 10:16] fgatti675 commented on #127
Mmmm interesting, `buildPropertyField` is the exact same method used internally to build all the fields in the CMS, so validation should work just the same, when using it like in this case.
I'm flagging it as a bug and looking into it.

[2021-09-22 10:18] fgatti675 commented on #127
Also, thank you for using FireCMS!
We are commited to building an awesome library, if you have any feedback on enhancements or things you would like to improve, please feel free to create a Github issue, drop a line on https://www.reddit.com/r/firecms/ or reach me directly at hello@camberi.com :)

[2021-09-22 15:08] grind-t commented on #127
@fgatti675 Thanks for this awesome library! I will definitely leave feedback if i have it.

[2021-09-22 21:47] gregorybesson commented on #118
np @fgatti675, will do it !

[2021-09-23 01:24] TheAussieStew commented on #124
@fgatti675 I've invited your GitHub account to the repo. You should be able to just clone the repo and do a `yarn start` to get the Admin component running in App.tsx.

[2021-09-23 09:56] fgatti675 commented on #124
Ah, can you first try updating to version 0.50.0?
I couldn't reproduce the bug in that version and I think that issue is solved

[2021-09-25 12:01] AnubhavMukhija opened #128 "How to disable singup ?"
I want to only enable signin in my application and if user doesn't exist in the firestore database it should show the corresponding error.
Current Scenario - Currently I'm using email password signin method and with it if user email does not exist it opens a create account page(that is signup page).
How can we prevent this?

[2021-09-26 08:25] TheAussieStew commented on #124
I've tried to update to version 0.50.0, but the issue still persists

[2021-09-26 08:55] TheAussieStew commented on #124
Update: It turns out that this endless loading is caused by double initialisation of Firebase. Basically I had a library file with:

[code]
And when I removed it, the panel properly loaded.

So I think what was happening was that my library file initialised Firebase, and then FireCMS initialises Firebase again, resulting in some kind of error. Except I suspect that FireCMS isn't logging that error

[2021-09-26 10:42] zhigang1992 opened #130 "Property builder in MapProperty"
Currently MapProperty only support properties but not propertyBuilders,

we want to achieve something like

[code]

And admin can choose `source.type` currently, but we can't conditionally render `facebookId` or `appleId`

I've tried to dig into the source code, and didn't come up with anything useful.

Would this be supported? What's the best practice on this kind of types?

[2021-09-26 22:53] fgatti675 commented on #130
This should work:
[code]
It seems there is a bug in the inline popup form, the field does not update correctly. Margin it as a bug

[2021-09-26 23:09] fgatti675 commented on #128
You can do it since FirebaseUI, which we use for login supports it:
https://github.com/firebase/firebaseui-web#configure-email-provider

[code]

[2021-09-26 23:11] #128 closed

[2021-09-27 06:31] AnubhavMukhija opened #131 "UI breaks when we add firestore rules and it returns false."
Scenario - I want role based authorisation.

[code]

I have added a roles array in custom claims and checking if that contains "super", if this condition returns true this is working fine as it should have but if this returns false then the whole ui of fireCMS breaks as shown in the image,  going back to previous page/home page does nothing it still shows broken ui.
![Screenshot from 2021-09-27 12

[2021-09-28 09:08] AnubhavMukhija opened #132 "Can we show the returned data from HTTP firestore functions?"
Is it possible to show the returned data from HTTP firestore function (if yes, please explain it with an example)? Need to show user
and role specific data in collections and writing rules according to that is much more complex than writing a HTTP function.

[2021-09-28 09:23] fgatti675 commented on #132
Where would you like to show that data?

On Tue, Sep 28, 2021 at 11:09 AM AnubhavMukhija ***@***.***>
wrote:

--
Camberi - Madrid, Munich, Milan

[2021-09-28 09:25] fgatti675 commented on #131
I'm checking this

[2021-09-28 12:20] AnubhavMukhija commented on #132
In collections.

Scenario : There are 3 levels of admin, L1 have almost all permissions, L2 has some limited permissions and L3 admin has the least number of permissions.
Consider L2 is mapped with countries, L3 is mapped with cities.
If L2 is signed in he should be able to view its L3 admins of cities which fall under his country.
If L1 is signed in he should be able to view all levels of admin.

[2021-09-30 05:04] AnubhavMukhija opened #133 "Can we get fields value from reference of a document ?"
After selecting a existing user from user collection i want the value for his name in a different field that will be readonly and will get automatically filled after selecting the user.

[code]

[2021-09-30 14:50] fgatti675 commented on #133
You can solve this with an additional column in the collection view:
https://firecms.co/docs/collections#additional-columns

[2021-10-01 03:29] AnubhavMukhija commented on #132
Hi @fgatti675, are there any updates on this?
Need to show admin specific data on fireCMS dashboard for that I need to make multiple HTTP cloud functions, which will return admin specific data. That data will be shown to its respective collection.
As written **Rules are not filters** in :- []( https://firebase.google.com/docs/firestore/security/rules-conditions) , so rules are not a good option fo

[2021-10-01 13:15] fgatti675 commented on #132
Hi @AnubhavMukhija the current version does not support this.
But version 1.0.0-beta1 which is going to be released shortly will allow to override the Firestore implementation so you should be able to do this. I'll keep you updated!

[2021-10-01 15:24] fgatti675 commented on #104
Updated in version 1.0.0-beta1 :)

[2021-10-01 15:24] #104 closed

[2021-10-01 15:25] fgatti675 commented on #30
Full theme override is now possible  in version 1.0.0-beta1 :)

[2021-10-01 15:25] #30 closed

[2021-10-01 15:27] fgatti675 commented on #69
It is now possible to override the Firestore implementation in version 1.0.0-beta1 :)
We are working on provinding better examples and docs to show how it can be done

[2021-10-01 15:27] fgatti675 commented on #97
Closing this for now since it is not actively been worked on

[2021-10-01 15:27] #97 closed

[2021-10-01 15:28] fgatti675 commented on #124
Thanks @TheAussieStew for the catch!
We have a lot of changes in version 1.0.0-beta1 including the Firebase dependency, so I'm closing this one

[2021-10-01 15:28] #124 closed

[2021-10-01 15:29] fgatti675 commented on #20
This is now possible in version 1.0.0-beta1 :)

[2021-10-01 15:29] fgatti675 commented on #106
This is now possible in version 1.0.0-beta1 :)

[2021-10-01 15:29] #106 closed

[2021-10-01 15:33] fgatti675 commented on #103
This is now possible in version 1.0.0-beta1 :)
You have a `basePath` prop in `FirebaseCMSApp` (previously `CMSApp`)  or you can have more routes customisation if you follow the steps in https://firecms.co/docs/custom_cms_app

[2021-10-01 15:33] #103 closed

[2021-10-01 15:56] shelooks16 commented on #69
Thanks for letting me know!
Gonna keep an eye on this :)

[2021-10-01 17:56] fgatti675 commented on #132
Hi @AnubhavMukhija
Version 1.0.0-beta1 has been released.
I am going to need some time to come up with examples and custom data source implementations, but you can check how to build a custom app here: https://firecms.co/docs/custom_cms_app
Essentially you need to build your own `DataSource` (you can check how to build one taking the internal one that connects to
Firestore in the code: https://git

[2021-10-02 04:46] TheAussieStew commented on #124
Sounds good, looking forward to the release!

On Sat, 2 Oct 2021, 1:28 am fgatti675, ***@***.***> wrote:

[2021-10-03 09:03] zhigang1992 commented on #130
Sry for the late reply, this was working in the full screen editing mode, but unfortunately it doesn't work for inline editing

[2021-10-03 16:28] araujobarret opened #136 "Invalid Document reference when saving a Collection that has a SubCollection"
Hi folks 👋

I've run into an issue when saving a Collection when it has a SubCollection.

This image is from the `demo` of the FireCMS but I am able to reproduce it locally with version `1.0.0-beta`
![image](https://user-images.githubusercontent.com/15792853/135762838-6b17d501-d40d-419f-9ec4-8c8d0009dffa.png)

Sorry if I missed any step and got this, since it's also happening in the Demo I guess t

[2021-10-03 19:30] AnubhavMukhija commented on #132
Thanks @fgatti675, will check and keep you updated..

[2021-10-04 05:12] AnubhavMukhija opened #137 "Bug : while we create a copy of a document using firecms it's permission is taken as edit instead of create."
In the below case i only want user to edit the existing document but still the user is able to create a copy and change the pre-filled data i.e He/She can create a new document with different data using create copy feature. I have handled this case using preSave callback but i think this should not be the case. I think if we are disabling the permission for create we should also disable permission

[2021-10-04 07:50] AnubhavMukhija commented on #131
Hi @fgatti675, are there any updates on this?

[2021-10-04 16:13] fgatti675 commented on #136
Found the issue, it is being fixed for version 1.0.0-beta2, releasing soon!

[2021-10-04 16:24] fgatti675 commented on #131
Hi @AnubhavMukhija,
 I just trying disable the permissions in a collection and I get an error message in the CMS, version 1.0.0-beta1

<img width="970" alt="Screenshot 2021-10-04 at 18 12 36" src="https://user-images.githubusercontent.com/5120271/135888028-bb213cb9-931a-40e3-9567-29ca64ff5f09.png">

[2021-10-04 16:35] fgatti675 commented on #137
Fixed, being pushed in the nex version 1.0.0-beta2, probably in a couple of days

[2021-10-04 16:52] AnubhavMukhija commented on #137
@fgatti675 , thanks for a quick response.
If I may ask for a advise, I am using alpha version of fireCMS and my application is half build but there are features that I require from beta version mainly to get user specific data. Would it be better to migrate or use the previous alpha version only as beta version will have ongoing changes.

[2021-10-05 19:17] aditya-dua opened #138 "Example Import Issue"
Hi Team,
While importing the example, there were multiple issues which were faced.

- Typescript was not present in the dependency. (Solution: I ran the command yarn add typescript)
- Post that, I got an issue as "Module not found: Can't resolve 'algoliasearch'. (Solution: I ran the command yarn add algoliasearch)
- Post that, I got the an issue as "./node_modules/@camberi/firecms/dist/index.moder

[2021-10-05 19:17] aditya-dua commented on #138
Package.json:

`{
    "name": "firecms-example",
    "version": "0.1.0",
    "private": true,
    "dependencies": {
        "@camberi/firecms": "latest",
        "@emotion/react": "^11.4.1",
        "@emotion/styled": "^11.3.0",
        "@mui/icons-material": "5",
        "@mui/lab": "^5.0.0-alpha.49",
        "@mui/material": "5",
        "@mui/styles": "5",
        "algoliasearch": "^4.10.5",

[2021-10-06 08:03] fgatti675 commented on #138
Hi Aditya, it's easier if you follow the quickstart:
https://firecms.co/docs/quickstart

On Tue, Oct 5, 2021 at 9:17 PM aditya-dua ***@***.***> wrote:

--
Camberi - Madrid, Munich, Milan

[2021-10-06 14:02] fgatti675 commented on #127
Sorry @grind-t, I was actually wrong.
Validation passed to properties in `buildPropertyField` has no effect. But you can achieve the same result by passing that validation to the parent property, when defining your entity schema:
[code]

[2021-10-07 10:22] gregorybesson commented on #118
I'm a bit late, but I stick to the plan, I'll try to update you before next week.

[2021-10-07 14:14] fgatti675 commented on #137
Fixed in version 1.0.0-beta2

[2021-10-09 02:01] neuhoffm opened #139 "Realtime Database Support"
Are there any plans to also support Firebase's Realtime Database in addition to Firestone?

[2021-10-09 10:32] fgatti675 commented on #139
Hi @neuhoffm, this is not a planned feature at this moment.
The good news is, you can implement your own datasource. It is probably not too complicated if you start from the current Firestore implementation and change the APIs to use the Realtime Database
https://github.com/Camberi/firecms/blob/master/src/firebase_app/hooks/useFirestoreDataSource.ts
I will be happy to support you if you decide to

[2021-10-11 14:05] neuhoffm opened #142 "Can't access firebase auth properties"
I'm probably missing something super simple, but when I try to use the code from #102 in a custom authenticator in app.tsx I get a typescript error saying ```Property 'getIdTokenResult' does not exist on type 'User'.```

[code]

I haven't changed anything else beyond what's on the quick start guide.

[2021-10-11 15:57] jandrourgh opened #143 "Can't read images in Next"
Hi everyone,
I'm using this as a data origin for another website written in Next and stored in Vercel and data retrieval is working fine by now, but I can't show images.
I finally managed to get the bucket object and get further image details with`bucket.file(filename)`, being `filename` the img name stored in the database entry, but I can't figure out where's the public url that I must set in the

[2021-10-13 09:31] #127 closed

[2021-10-13 09:33] fgatti675 commented on #123
Hi @faizanabidnaqvi
I have not been able to reproduce this bug in the latest version 1.0.0-beta2
Coul you verify this is fixed with your setup?
Thanks!

[2021-10-13 09:34] #143 closed, assigned to nobody

[2021-10-14 21:40] faizanabidnaqvi opened #144 "Content text under disabled reference fields is dark under dark mode"
Hi there! Found a minor issue. If we disable a reference field in dark mode, any content text within that field also appears dark making it almost not visible in dark mode. A fix could be to create a custom field but I think this should be something automatically dealt with.

[2021-10-14 22:06] faizanabidnaqvi opened #145 "entityId under PropertyOrBuilder should not be set when copying a doc"
Hi! I found another minor issue; I don't think it is necessarily an issue but more about consistency.

I have some fields that are dependent on whether the entityId has been set (that is the doc exists in firebase). This works fine for editing or creating new docs. When docs are being created, entityId is undefined which makes sense, and when docs are being edited entityId is set to the firebase d

[2021-10-16 16:29] neuhoffm commented on #142
Thanks! I was able to get it to work with your suggestion and a few more pieces. For future reference::

[code]

[2021-10-16 16:29] #142 closed

[2021-10-19 04:47] ashutosh-singh-git opened #146 "Attempted import error: 'useBlocker' is not exported from 'react-router-dom'."
Getting Attempted import error:

package.json
`{
  "name": "my-cms",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@camberi/firecms": "^1.0.0-beta2",
    "@emotion/react": "^11.4.1",
    "@emotion/styled": "^11.3.0",
    "@mui/icons-material": "5",
    "@mui/lab": "^5.0.0-alpha.49",
    "@mui/material": "5",
    "@mui/styles": "5",
    "firebase": "9",
    "@testing-library/jes

[2021-10-28 22:10] ksewo opened #147 "Vite compatibility"
Hello!
It looks like firecms isn't compatible with [vite](https://vitejs.dev/), because of firecms usage of react-csv, which has Link.js file instead of .jsx extension and vite is using js loader instead of jsx loader for it (for performance purposes).

Related react-csv issue:
https://github.com/react-csv/react-csv/issues/268

It looks like this library is unmaintained and therefore should be rep

[2021-10-29 19:17] ksewo commented on #147
@fgatti675 Thanks for reply.

It seems like firebaseui could be removed, it's only used for these login boxes, which shouldn't be really that hard to implement. I think that removing it and rewriting will be better idea. Social media login buttons should be easy to implement, with email/password it will be harder, but making it only sign-in (accounts can be created from firestore console) will mak

[2021-10-30 10:04] fgatti675 commented on #122
Hi @naranjamecanica !
You are right, that's a bug happening to properties under map fields :)
It is already fixed in the code and will be deployed in the next version, thanks!

[2021-10-30 12:25] ksewo opened #148 "[Feature request]"
firecms should automatically remove files from storage once they're removed from collection. For now, they're not removed and storage is filling up.

[2021-10-30 15:34] ksewo commented on #148
I could implement it myself with collection callbacks, but there's catch - EntityOnSaveProps doesn't have a field with old values, so I have no way to change if the file storage path changed

[2021-11-01 07:01] benwinding opened #149 "Error in Demo When Clicking Products"
Tried using the demo application and did the following:

## Reproduce Via

- Clicked `Skip Login`
- Clicked `Products`
- Blank page, errors in console

## Error Screenshot

![image](https://user-images.githubusercontent.com/11782590/139633656-260c2e17-95ad-40a2-9b4f-394990e83a8a.png)

[2021-11-01 17:30] matheuscabralkk commented on #50
@faizanabidnaqvi can you explain how to implement this custom field? I'm trying to import ckeditor into a react component but, no lucky
![teste](https://user-images.githubusercontent.com/24775165/139714240-13616cc4-a572-416f-9c34-3c2c826c08a2.png)

[2021-11-01 17:53] faizanabidnaqvi commented on #50
@matheuscabralkk I think that is because typescript can't find any type declarations for it. I fixed this by adding a types/ckeditor/index.d.ts with the following:
[code]

And then including this types folder under typeRoots in tsconfig.json. My tsconfig.json looks like this:
[code]

[2021-11-03 13:25] fgatti675 commented on #149
Thanks @benwinding fixed now!

[2021-11-03 13:25] #149 closed

[2021-11-03 18:45] fgatti675 commented on #148
Hi @ksewo
I understand your motivation, we will give it some though and come back to you!

[2021-11-03 18:47] fgatti675 commented on #147
Hi @ksewo
I would rather not fork a package and need to maintain it afterwards.
There are great csv packages in npm we can use, such as
https://www.npmjs.com/package/csv
Wanna give it a try? :)

[2021-11-07 18:39] fgatti675 commented on #132
Closing this since there are no updates!

[2021-11-07 18:39] #132 closed

[2021-11-07 18:39] #131 closed

[2021-11-08 23:49] matheuscabralkk commented on #50
@faizanabidnaqvi  thank you!

[2021-11-10 10:52] fgatti675 commented on #148
`previousValues` added to `EntityOnSaveProps` in version 1.0.0-beta3 ;)
We keep the issue open for the file removals

[2021-11-11 17:48] Andre3424 opened #150 "Deleting a document does not delete the subcollections"
Hi Francesco
We already discussed it shortly, I think it maybe makes sense to place it here, other users might have the same problem and are interested in a solution.

**The Problem**
When we delete in FireCMS a document, then only the fields on of the document are deleted, but not the subcollections. This results in "dead" records in firestore, which should be cleaned. I cannot imagine a business

[2021-11-11 17:50] Andre3424 opened #151 "Error when filtering and sorting in same list"
Hi!
When I apply a filter to a list and then sort, then I get an error "Error fetching data from the data source".
For working with data this is an important function to narrow data sets working on.
Can this be fixed? Is there a workaround?
thanks!

[2021-11-12 12:27] fgatti675 commented on #146
Fixed in version 1.0.0-beta3!

[2021-11-12 12:27] #146 closed

[2021-11-12 12:27] fgatti675 commented on #145
Fixed in version 1.0.0-beta3!

[2021-11-12 12:27] #145 closed

[2021-11-12 12:27] fgatti675 commented on #144
Fixed in version 1.0.0-beta3!

[2021-11-12 12:27] #144 closed

[2021-11-13 00:24] davemecha opened #152 "User in navigation builder is no firebase user"
Checking permissions via custom claims in `NavigationBuilder` should work via the `user` object.

Unfortunately accessing the token is not possible with the passed `user` and `authController`.

I tried various ways to get the user proper firebase user object (and commented out the lines one by one.

[code]

The `user` is somehow a cloned object with some fields missing from the original firebase u

[2021-11-14 18:28] davemecha opened #154 "Multiple File Upload (eg. for small gallery of product images)"
Is there any best practice to create a field for uploading multiple files?

I'm searching for an easy way to create a product gallery with a variable number of images.

[2021-11-15 04:39] NazimHAli commented on #147
Wish I read this thread an hour ago, have been trying to get it to work with Vite. I agree that `firebaseui` should be removed, it's just bloat and ended up removing them in another project. I just implemented the login forms with Svelte yesterday.

[2021-11-15 11:59] fgatti675 commented on #150
Hi Andre,

It is not a good idea that FireCMS deletes subcollections.
Here we come to one of the limitations of the collection/document model of NoSQL and Firestore in particular.

FireCMS is purely a frontend app and that is a task is better suited for the backend for these reasons:
- FireCMS could only delete the subcollections that are mapped in its configuration, but could not find other subco

[2021-11-15 11:59] #150 closed

[2021-11-15 12:20] fgatti675 commented on #154
Hi @davemecha
You can simply create an array property that has a string property configured for file upload and you will get what you are looking for ;)
[code]

[2021-11-15 12:20] #154 closed

[2021-11-15 12:26] fgatti675 commented on #151
Hi Andre,
Yes this can be fixed. If you check the console logs you will find a link to your Firebase project that allows to create an index in your database.
If you want to enable sorting and filtering by multiple properties you can specify the created index in your `EntityCollection` configuration using the field `filterCombinations`
Let me know if you need further help!

[2021-11-15 12:26] #151 closed

[2021-11-15 12:34] fgatti675 commented on #152
Hi @davemecha ,
As of the latest version, 1.0.0-beta4, you can now specify the user type as a generic (as long as it complies with our User interface, which Firebase users do), so you can do something like this:
[code]
Let me know if this works for you and feel free to close the ticket ;)

[2021-11-15 14:46] fgatti675 commented on #147
`firebaseui` is quite a pain to be honest.
But it provides a lot of functionality with very little effort.
In the best case we would create an independent library based on Firebase Auth, React, MUI 5 and all the login options
(maybe even without MUI 5).
I would start implementing it as part of this project and think about detaching it later.
What do you guys think?

[2021-11-15 15:05] fgatti675 opened #155 "Datepicker does not open in the right position in table view"
The date picker opens in the top left corner instead of inline in the table view.
It opens in the right position when opening from the side form view
<img width="1039" alt="Screenshot 2021-11-15 at 16 03 18" src="https://user-images.githubusercontent.com/5120271/141804423-54facf3e-e00b-44db-9529-66a8308cbb8b.png">

[2021-11-15 15:06] fgatti675 commented on #123
Quick heads up, we found the bug and will be fixed for version 1.0.0-beta5.
We are also working on the performance of the side panel :)

[2021-11-15 15:20] davemecha commented on #152
@fgatti675 Thanks, great. Now `getIdTokenResult()` is accessible again. :)

And the generic type is awesome. With this I can avoid the typecast.

[2021-11-15 15:20] #152 closed

[2021-11-15 15:20] fgatti675 commented on #152
Awesome, thanks for your feedback dave ;)

[2021-11-15 15:22] ksewo commented on #147
@fgatti675 That seems great. It's really just bloat and it's causing many problems, simple buttons for login with social medias + login form for username/password login should be enough.

@NazimHAli
If you're struggling with vite, you can use craco with craco-esbuild (vite is using esbuild under the hood) so the build time should be similiar.

[2021-11-15 16:38] davemecha opened #156 ""Cannot call hover while not dragging." error on array of files"
I created a property for my build schema.

[code]

When I drag & drop files to the drop zone, I see this error.

![image](https://user-images.githubusercontent.com/137976/141819212-a8fb952b-519f-4e55-8fe6-d86472da4d00.png)
![image](https://user-images.githubusercontent.com/137976/141819292-71d4ebc4-b4a8-48f3-934b-e66292d86601.png)

I use version 1.0.0-beta4

[2021-11-15 16:58] davemecha opened #157 ""Can't perform a React state update on an unmounted component." on multiple file upload"
I created a property for my build schema.

[code]

When I drag & drop files to the drop zone, I get a React error that state update is not possible on an unmounted component.

![image](https://user-images.githubusercontent.com/137976/141821437-01bec7aa-7897-4afe-bee3-52732239cdc0.png)

There is a check missing, if the component is still mounted before setting the state in `StorageUploadProgress`.

[2021-11-15 23:11] mkim219 commented on #155
Hi @fgatti675! Can I work on this issue?

[2021-11-16 12:41] NazimHAli commented on #147
Thank you, but I was trying to integrate it into a current application without turning it into a mono-repo. For now, I'll just keep it as a separate admin package.

[2021-11-16 16:01] dSurprenant opened #158 "Possibility to set the SideEntityView with custom width"
Is that a way to set the SideEntityView with custom width actually it's fix to 560px.

It is something that will be implemented? (custom sidebar size)

[2021-11-16 18:29] Andre3424 commented on #151
Thanks! We will try this way and I will send feedback later

[2021-11-16 18:30] Andre3424 commented on #150
Thanks! I wonder: Since this is a common problem, are there not some ready-made cloud functions available?

[2021-11-16 21:27] grind-t opened #160 "[Feature request] Key-Value Map"
Hello @fgatti675, I know this issue has already been mentioned (#71, #67), but I would like to open it again.
**Problem:**
It is difficult to use key-value data where the exact structure of the object is not defined in advance.
**Example:**
A product can have many attributes unknown in advance. For example, it may or may not have a color, size, material, etc.
**Current solutions:**
1.  Use an arra

[2021-11-16 23:00] fgatti675 commented on #160
Hi @grind-t, definitely adding this as a feature request :)
We have a bunch of things in the pipeline, though!
You can give us a hand if you implement it as a custom field and then share it with us so we can add it to the core.
Thinking about the implementation, the datatype would be `map`. And we probably need to have a dropdown to select the data type of each of the values, much like the interna

[2021-11-17 00:03] grind-t commented on #160
@fgatti675 I was thinking of a simpler option where the map works similarly to an array. Since the key is always a string, you can simply specify the value property (similar to an array "of" property). Here is an example of such a map, where the key is an auto-generated id, and the value can be any property:
[code]
However, I don't quite understand how to set up validation correctly, it doesn't wo

[2021-11-18 12:39] fgatti675 commented on #160
Hi @grind-t
I was checking your code. To my understanding this is not a `{ string => Property }` field right?
It is mapping Firestore reference => property builder based on id, if I understood it right?

[2021-11-18 13:43] grind-t commented on #160
@fgatti675 Yes you are right. This is an example where the key is an auto-generated identifier (string), and the value is any property. The problem is that validation only works if the properties are specified in the property builder (#127). Therefore, the validation problem will also affect ```{ string => Property }``` field.

[2021-11-18 16:19] fabarea opened #161 "List of entites does not refresh - component state issue"
Maybe related to https://github.com/Camberi/firecms/issues/157

I get the following error after saving an entity. I tried with various collections / schema. The list is not refreshed in real time. I need to force refresh the page to see the change.

<img width="1486" alt="image" src="https://user-images.githubusercontent.com/620730/142454098-170ed55b-141a-42ca-9e59-4d64ac76b70a.png">

[code]

Erro

[2021-11-18 16:41] fgatti675 commented on #161
Hi @fabarea
This is a bug that should be happening only in the latest version (1.0.0-beta4)
You can rollback to a previous version or wait until the next release :)

[2021-11-18 20:07] fabarea commented on #161
@fgatti675 oh thanks you! Indeed, it now works with beta 3.

[2021-11-18 20:07] #161 closed

[2021-11-18 21:00] fgatti675 commented on #156
Can't reproduce this one, what version of FireCMS are you on?

[2021-11-20 00:23] NazimHAli commented on #147
@fgatti675 I think if we had a minimal version, it would give everyone an easy way to customize/build it the way they need and easier to integrate with current applications. The current version could be a sort of provided optional/default theme.

[2021-11-23 04:48] jfbourne opened #163 "List not refreshing"
Similar to issue: #161. I rolled back to beta-3 and use the latest beta-5 and still same issue.

[2021-11-23 08:45] fgatti675 commented on #163
Hi @jfbourne sorry about that, there was an additional bug we have found after the release of beta5, will be fixed for beta6

[2021-11-23 08:58] fgatti675 commented on #158
Added in version 1.0.0-beta5 ;)

[2021-11-23 08:58] #158 closed

[2021-11-23 11:13] #63 closed

[2021-11-23 11:21] #69 closed

[2021-11-23 11:36] fgatti675 commented on #112
I am marking this feature as a good first issue.
It can be implemented in the same way that a developer would implement a "custom field": https://firecms.co/docs/entities/custom_fields
That means that it is not necessary to develop the feature in the source code (though that would be the best!)

[2021-11-23 11:37] fgatti675 commented on #123
This should be fixed in version 1.0.0-beta5 ;)

[2021-11-23 11:37] #123 closed

[2021-11-23 11:38] fgatti675 commented on #157
There was a check for this case in version 1.0.0-beta5 ;)

[2021-11-23 11:38] #157 closed

[2021-11-23 22:00] dSurprenant commented on #158
Thanks you!

[2021-11-24 03:50] jfbourne commented on #163
@fgatti675 Thank you for reaching out and your great work! I will wait for beta6

[2021-11-24 08:02] Fredleig commented on #146
`"react": "^17.0.2",
    "react-dom": "^17.0.2",
    "react-router-dom": "^6.0.2",`
    the problem is relevant

[2021-11-24 20:56] PoloBustillo commented on #163
Same here :(

[2021-11-25 15:25] fgatti675 commented on #147
Hi @ksewo I have good news for you
I have replaced the CSV export function and FirebaseUI with custom implementations.
It is not published in npm yet since it needs more testing, but it is pushed to the master branch in this repository.
Could you check the code and see if this version works with your projects?
You will need to clone the repository, run `yarn build` and then link your project using

[2021-12-01 07:38] Andre3424 opened #167 "Sort referenced Documents"
Hi
We have a collection "city" and a collection "region". In the document "city" we assign the "region".
Currently the list of regions is not sorted, is it possible to sort the list of region, when the user chooses the region in the city editform?

And is it possible to sort the Filter-List "Region" in the city collection?

Both should be sorted by name, otherwise it is hard to choose among 200+ r

[2021-12-02 20:32] C-Coretex opened #169 "Array property error (oneOf) - Object literal may only specify known properties, and 'title' does not exist in type..."
Hello, I'm new to FireCMS and I've got this error.

![image](https://user-images.githubusercontent.com/44605873/144497825-80ed36af-303a-440b-9318-c1ca454e6aff.png)

I've completely copied the example from [here](https://firecms.co/docs/entities/properties/array).
If I'll delete the field "title" this error will move to the "description".

[2021-12-02 22:23] fgatti675 commented on #169
Sorry about that, it's an error in the docs. It should be:
[code]

[2021-12-02 22:23] #169 closed

[2021-12-06 10:25] fabarea opened #170 "Missing user email data with Google authentication"
The user is correctly authenticated, but the user data is not filled-in. Consider the snippet from the example CMS where we define `myAuthenticator`

[code]

`console.log(user)` will return the following. We can see the email is null.

[code]

On the Firebase side we can see the authentication token has been created but the user info is empty

![image](https://user-images.githubusercontent.com/620

[2021-12-06 14:40] fgatti675 commented on #163
Should be fixed in 1.0.0-beta6 😉

[2021-12-06 14:40] #163 closed

[2021-12-06 14:41] fgatti675 commented on #147
Both updates are now released in version 1.0.0-beta6

[2021-12-06 14:41] #147 closed

[2021-12-07 03:22] faizanabidnaqvi opened #171 "URL keeps points to doc id if changes were made but not saved"
Hi there!

I am using 1.0.0-beta5 and noted this issue that if I edit a doc and close the side panel without saving, the URL address in the browser keeps pointing to the doc instead of pointing to the root collection. Minor issue but can be annoying when refreshing the page; additionally, if we try to close the browser we get the 'unsaved changes' popup even though the admin panel doesn't have any

[2021-12-07 11:18] fgatti675 commented on #171
Thanks for the catch!
I wasn't able to reproduce this in demo.firecms.co with version 1.0.0-beta6
Let me know if you can reproduce it

[2021-12-09 06:08] fashionado opened #172 "Ability to confirm changes before saving to firestore"
Is there a callback or method to receive a callback before the changes on a document are saved to the database ? Ideally, I should be able to change multiple fields of a document and click save before the fields actually gets saved.

or

a callback before the saving which when returns false prevents the changes from being saved.

Thanks.

[2021-12-09 16:51] fgatti675 commented on #172
Yes, you can modify the values before getting saved:
https://firecms.co/docs/collections/saving_callbacks
and prevent it from happening if you throw an Error

[2021-12-09 18:28] #172 closed

[2021-12-09 18:30] fashionado opened #174 "Painfully slow"
Hello,

Functionality wise FireCMS has pretty much everything that I needed for my project but it is painfully slow and sluggish. I tried on firefox and chrome on my local machine and it is very slow. I also tried the demo site and that too is not very responsive.

Are there any settings that can be changed to make it responsive.
Thanks.

[2021-12-10 09:29] YoussefRaafatNasry opened #175 "Module not found: Can't resolve '@camberi/firecms'"
I have followed the Quickstart guide and whenever I try to run the app, it fails with the following error:

[code]

Here's the [repo](https://github.com/YoussefRaafatNasry/firecms-test), and these are some things that I've tried but they all gave the same error:

 1. Delete both `node_modules` and `yarn.lock` and then run `yarn install` again.
 1. Use a different machine running linux instead of w

[2021-12-10 14:36] luisluft commented on #146
Getting the same error with these versions:
`    "react": "^17.0.1",
    "react-dom": "^17.0.1",
    "react-router-dom": "^6.0.2",`

[2021-12-11 14:27] fgatti675 commented on #175
Sorry about that, fixed in version 1.0.0-beta7

[2021-12-11 14:27] #175 closed

[2021-12-12 10:43] agramian opened #176 "Error when creating/adding a new entry after upgrading beyond 1.0.0-beta5"
I made no changes to my app or entity schemas and bumped the version above `1.0.0-beta5` trying both `1.0.0-beta6` and `1.0.0-beta7` and I am no longer able to add new entries for any of the entities.

When I press the "+ ADD ..." button the sidebar displays "Error See the error in the console".
On version `1.0.0-beta6` the console error message is `Uncaught ReferenceError: Cannot access 'schema'

[2021-12-13 11:02] fgatti675 commented on #48
Added in version 1.0.0-beta5

[2021-12-13 11:02] #48 closed

[2021-12-13 11:07] fgatti675 commented on #156
Closing this since I can't reproduce it, don't hesitate to reopen if it happens again

[2021-12-13 11:07] #156 closed

[2021-12-13 11:09] fgatti675 commented on #170
Hi Fabarea, I am not sure this is related to FireCMS or Firebase itself?
We don't really populate that identifier field, it is handled by Firebase, no idea why it didn't work in your case

[2021-12-13 11:52] C-Coretex commented on #176
Same issue for me

[2021-12-13 12:26] akhenda commented on #176
Same issue here. Trying to figure out what is causing this with no luck.

[2021-12-13 12:31] fgatti675 commented on #176
Sorry about that, I've already fixed it and will be deploying it in a few
hours :)

On Mon, Dec 13, 2021 at 1:26 PM akhenda ***@***.***> wrote:

--
Camberi - Madrid, Munich, Milan

[2021-12-13 15:56] fgatti675 commented on #176
Version 1.0.0-beta8 is out ;)

[2021-12-13 15:56] #176 closed

[2021-12-13 17:14] fgatti675 commented on #174
Hi @fashionado,
There have been a bunch of performance improvements in version 1.0.0-beta8 that you can try checking out.
Anyhow, FireCMS has a lot of components and depending on the computer you are on, it may get slow if you have a collection with a lot of properties.
Some properties render fields that are more complex than others, suck as markdown or image upload fields.
There are some things y

[2021-12-13 19:05] fashionado commented on #174
Hello @fgatti675 : Thank you for your response.

1. My collection is text only. There are no images.
2. Inline editing is also disabled. Double/Single Clicking (not sure which one) opens up the side-panel to edit but it takes very long time.

3. Also I noticed that Collection.properties by itself does not prevent the display of certain columns. I had to remove them from my types too. I need to dis

[2021-12-13 20:17] fashionado opened #177 "Dynamic enumvalues"
Is it possible to provide dynamic enumValues ? One of my field enumValues is a dynamic list which can grow or shrink. How can I ensure that enumValues shows the updated list. Thanks.

[2021-12-15 10:35] fgatti675 commented on #174
Hi @fashionado
I have been looking into this.
So the `properties` prop in collections should limit the columns rendered in a collection like:
[code]
Also, I have done a pretty significant change in the memoization check of table cells and have reduced significantly the number of renders, which makes the current demo butter smooth in my computer.
Can you check https://demo.firecms.co/
and tell me i

[2021-12-15 19:02] fabarea commented on #170
@fgatti675 the weird thing is that it "used to work". (= the user used to have the email address in the object `user` instead of null)

Could the cause be, the switch to `firebase ^9`. That's what I would think. This is annoying (from firebase) since we are using the email address to set the role of the user.

Do you see another possibility here to retrieve the authenticated user email?

[2021-12-15 23:53] fashionado commented on #174
Hello @fgatti675,

Thank you for looking into this. I checked out the new demo. Since it is the same link so I don't have a true reference to compare against. But the new demo definitely feels much faster. But I think there is still lot of scope for improvement. e.g, My app that I'm trying to replace with FireCMS is still much more faster.

Regarding the properties, thanks. It works now. I mistook

[2021-12-17 10:05] fgatti675 commented on #174
I'll look into this ;)

[2021-12-17 19:57] fgatti675 commented on #174
Version 1.0.0-beta9 has been released with significant performance improvements.
Also, in the additional column, you can now set a field called dependencies that is an array of properties that your column depends on like `["firstName", "lastName"]`

[2021-12-17 19:57] #174 closed

[2021-12-20 09:11] C-Coretex opened #183 "Uncaught Error: Not able to resolve schema - appeared when migrated to 1.0.0-beta-9"
I migrated from firecms [1.0.0-beta5] to [1.0.0-beta9] and when I'm creating a collection, that has `conditional array of references` it returns error:
![image](https://user-images.githubusercontent.com/44605873/146741741-5996b032-8f9f-4455-89fa-6e41ef834cc0.png)
![image](https://user-images.githubusercontent.com/44605873/146741788-81c1e787-61c1-40d4-a0fe-0cb2ea7b5077.png)

The problem part:
[code

[2021-12-21 16:08] pakona opened #184 "Type '"map"' is not assignable to type '"geopoint"'.ts(2322)"
First of all, I really like how intuitive the configuration of schemas was designed.

I'm running into the following problem though. When I have a latitude and a longitude in a map,
the compiler seems to expect a datatype of "geopoint" for that map.

@camberi/firecms@ version: `1.0.0-beta9`

App.tsx:

[code]

Compiler error (after running `yarn build`):

[code]

Expectation: I should be able to ha

[2021-12-22 00:42] kongweiying2 opened #185 "Using a sub collection as collection in main menu"
Is it possible to use buildCollection with a schema that refers to a sub collection?

Basically I have something like this

[code]

One collection is Matches, which is located at /matches
Another is Events which is a sub collection at /matches/{matchId}/events

I'd like both to show up as main menu collections, despite Events being a sub collection.

I understand I have to create a schema for Even

[2021-12-23 00:09] leo-paz opened #186 "Memory Leak"
Hi FireCMS,

Really love what you guys have built but when running the quickstart guide I'm getting this error:
`yarn run build
yarn run v1.22.17
$ react-scripts build
Creating an optimized production build...

<--- Last few GCs --->

[40370:0x140008000]    91111 ms: Mark-sweep 8039.6 (8228.3) -> 8023.5 (8228.0) MB, 9728.1 / 0.0 ms  (average mu = 0.106, current mu = 0.002) allocation failure scave

[2021-12-23 05:43] fashionado opened #187 "Remove the size filter on top left"
Hello,

How can the top left filter be removed. It automatically appears for all collections and sometimes even gets applied as a filter preventing all the documents to appear. Thanks.

![Screen Shot 2021-12-22 at 9 40 52 PM](https://user-images.githubusercontent.com/95842625/147193751-82a3b2d2-b529-4d53-987f-124753aa5f07.png)

[2021-12-23 05:45] fashionado commented on #174
@fgatti675 : the beta9 is quite responsive. Thank you.

[2021-12-24 10:27] MarkXuan opened #188 "How to filter on condition for collection to display with different roles"
The my application has 2 roles: role A and role B. For each different user, the data will be displayed differently. Example: with production collection, Role A will display all records, Role B only display records has condition (status = "complete").
If I use initialFilter it only display for first loading app and I choose another filter it will get all data of production collection.
Thank you.

[2021-12-26 13:38] fgatti675 commented on #186
Hi Leo, someone had a similar issue and it turns out he had not installed the peer dependencies properly. Not sure if that is your case as well.
I use it with node 14 usually, that might be related as well.

[2021-12-26 13:40] fgatti675 commented on #184
Hi @pakona
I'll take a look at this this week and let you know

[2021-12-26 18:23] leo-paz commented on #186
@fgatti675 Hi thanks for the reply.

Do you by chance remember what issue this is? I tried using node 14 but still no luck

[2021-12-28 19:28] fgatti675 commented on #188
Unfortunately this is not possible at the moment.
You could try splitting the collection in two, or maybe trying to filter out using Firestore security rules?
I am not sure that would work though

[2021-12-28 19:50] fgatti675 commented on #184
You have found a pretty crazy and nasty bug... It is due to how Typescript resolves the generic types.
Our internal Geopoint type includes `latitude` and `longitude` so anything extending and object with those properties is considered a Geopoint.
Unfortunately it is not easy to fix.
What you can do is simply add `// @ts-ignore` like this, to make it work:
[code]

[2021-12-28 20:25] fgatti675 commented on #185
1. You can't use the schema as an array `of` prop, but you can isolate the schema properties using `buildProperties` and then reuse those:
[code]

2. Regarding this one, I think what you are looking for is a collection group query?
https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query
We don't support them yet but may consider it for the future!

[2021-12-29 02:21] #130 closed

[2021-12-29 11:13] fgatti675 commented on #130
Thanks! Forgot to close this one, but it was fixed ;)

[2021-12-30 00:22] leo-paz commented on #186
Solved this by copying over the same package versions from peer dependencies in the package.json of the firecms repo into my own project and re installing

[2021-12-30 00:22] #186 closed

[2021-12-30 12:21] fgatti675 commented on #186
Glad you could solve it Leo,
Could you share your yarn.lock when it was failing? so we can understand what was wrong.
Seems like some dependency is causing the trouble

[2021-12-30 16:32] leo-paz commented on #186
@fgatti675 Unfortunately I don't as i never checked in the yarn.lock into source while it wasn't working.

I can say that all I did was follow the quickstart guide with node 16 and I'm assuming the error was a mismatch of peer dependencies with a new version of create react app. The error was very cryptic for I'm assuming this related issue here: https://github.com/nodejs/node/issues/40014

[2022-01-02 02:11] aimen08 opened #194 "How to pass entity id or context to custom preview ?"
Hello i'm trying to preview the entityId inside custom preview , i know you can do that inside custom field with the help of the context parameter.

[2022-01-06 05:21] rgtstha opened #195 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
I was following your [quickstart](https://firecms.co/docs/quickstart) guide. I added everything correctly. But when I run the `yarn start` command it is giving me a **heap out of memory** error.

Here is the full error code.

[code]

[2022-01-07 10:14] rgtstha opened #196 "How to upload PDF file to storage?"
First of all, I want to thank all the contributors for making such an amazing backend for firebase.

I am working on a project where I have to upload `pdf` documents. I don't see any options to upload such files. Since it only supports `media` upload, any way to upload a pdf file?

[2022-01-08 11:55] fgatti675 commented on #196
Hi @rgtstha
so the `media` prop is only used for previewing the uploaded file.
You can filter the uploaded files to be only pdfs like this:
[code]

[2022-01-08 11:55] #196 closed

[2022-01-08 13:04] rgtstha commented on #196
oh! that's awesome. Thank you.

[2022-01-12 09:45] logartis opened #198 "PropertyBuilder (conditinal fields) in array of maps"
I am trying to use conditional fields in an array of maps but getting an error. Am I missing something or is it not supported? My use case would be to create an array of maps (Sections) with a SectionType enum that would determine the contents of that section.

Here is a minimal example with just a simple conditional field inside of an array of maps:
[code]

<img src="https://user-images.githubuse

[2022-01-12 15:13] jagaSto opened #200 "Conditional fields for nested properties"
Hey there! 👋

First off, let me say how much we appreciate this wonderful library - it is really rare to see such a well maintained and documented piece of open-source software out there! 😍

Now, to business: we are currently working on a new product where we are utilizing fireCMS to build the CMS (obviously).
We came across a use case for handling **nested properties** as [conditional fields](htt

[2022-01-13 16:09] fgatti675 commented on #195
In case someone can lend a hand:
I was not able to solve this issue. I could not solve this issue.
I have checked the repositories of all our dependencies and could not find any references to the same heap error. So it seems that it is something specific to our setup.
After doing a big code cleanup and fixing many possible candidates to provoque a memory leak, version `5.0.0` of `react-scripts` no

[2022-01-13 22:52] #194 closed

[2022-01-14 11:51] fgatti675 commented on #194
Hi @aimen08
I think this is not possible at this time, do you still need it?

[2022-01-14 14:47] aimen08 commented on #194
no @fgatti675 , i found work around , managed to achieve same thing with the  `additionalColumns` option .which make sense more than using preview.

[2022-01-16 16:33] logartis opened #207 "console"

[2022-01-16 16:33] #207 closed

[2022-01-20 20:07] logartis opened #208 "Array property with oneOf constantly losing focus while typing"
Elements are constantly losing focus inside array property with oneOf while typing. (+also minor visual issue with the input label)

This issue can be observed in the blog schema of demo app too:
https://demo.firecms.co/c/bl
![firecms_focus_problem](https://user-images.githubusercontent.com/16990126/150413569-0774b7d8-de3a-4afe-9da4-b76e1475feb8.gif)
og#new

Originally it occured in my own project

[2022-01-21 10:35] plvnts commented on #208
Same here (for all string fields in nested objects/arrays)

[2022-01-21 10:37] fgatti675 commented on #208
Fix coming out soon!

On Fri, Jan 21, 2022 at 11:35 AM Philipp Levints ***@***.***>
wrote:

--
Camberi - Madrid, Munich, Milan

[2022-01-21 11:16] #188 closed

[2022-01-21 12:37] fgatti675 commented on #208
The fix is ready in demo.firecms.co
We will do some more testing and release it in the next beta version, probably tomorrow

[2022-01-22 12:25] fgatti675 commented on #208
Fixed in version 1.0.0-beta11 ;)

[2022-01-22 12:25] #208 closed

[2022-01-24 11:55] logartis opened #213 "[Feature request] Collapsible properties & more options for the sidepanel"
It would be great if some of the more complex properties could be collapsible, because in more advanced set ups things can get a bit hard to manage and the contents of the sidepanel gets infinitely long.
The problem:
![firecms_long](https://user-images.githubusercontent.com/16990126/150776410-d176e79f-3b0a-4bfb-bf79-2557a16f242e.gif)

Possible solution (could be collapsed by clicking on the title

[2022-01-25 10:24] plvnts opened #215 "Reference path of "false" throws error"
Referring to:
https://firecms.co/docs/entities/properties/reference#path
https://firecms.co/docs/api/interfaces/ReferenceProperty/#path

Apparently, the path of a reference can be set to "false" if the schema is unknown. However, I get the error
```Type 'boolean' is not assignable to type 'string'.```
when setting the reference path to false.

[2022-01-25 13:28] fgatti675 commented on #215
Man, I silently pushed that change yesterday and wasn't expecting anyone to find it before release!
That change is not live yet despite being in the docs.
If you would like to use it anyway you can use the nightly build:

    "@camberi/firecms": "pre",

[2022-01-25 13:33] plvnts commented on #215
Haha perfect! You're doing an amazing job!

[2022-01-25 13:33] #215 closed

[2022-02-01 14:17] fgatti675 commented on #195
This should be fixed in version 1.0.0-rc.1
If it helps anyone, it was fixed by changing the build system from `microbundle` to `vite` and `tsc`, which are also much faster.

[2022-02-01 14:17] #195 closed

[2022-02-01 15:26] elololex opened #220 "Portal issue with fresh quickstart install"
Hi All,

Creating a clean project using the quickstart guide returns the below issue. I've tried it a few times now and still getting the same result.

ERROR in ./node_modules/@camberi/firecms/dist/index.es.js 9191:13-19
export 'Portal' (imported as 'Portal') was not found in '@mui/material

Any ideas?

Thanks

[2022-02-01 16:05] fgatti675 commented on #220
Hi @elololex ,
seems like it is a problem with `mui` 5.4.0
I have tried setting the dependencies explicitly to
[code]
and it works fine.
I will check on how to fix it for the future release

[2022-02-01 16:32] elololex commented on #220
Thanks @fgatti675  for the quick response. Downgrading to 5.3.0 worked - Thanks for your help 👍

[2022-02-01 16:32] #220 closed

[2022-02-01 16:49] fgatti675 commented on #220
No worries, they added a breaking change in mui 5.4
We are fixing the wrong import in the next release

[2022-02-02 06:23] TheAussieStew commented on #185
Perfect, thank you! Are there any particular blockers to getting collection group queries working? I may be able to take a look at them and open a PR.

[2022-02-02 15:18] Evaldash opened #222 "Error with @mui/material 5.4.0"
An error is present when using the quick guide:

ERROR in ./node_modules/@camberi/firecms/dist/index.es.js 9191:13-19
export 'Portal' (imported as 'Portal') was not found in '@mui/material' (possible exports:...

I was able to make it work by downgrading to @mui/material ver 5.3.1, seems to be an incompatiblity with the new version.

[2022-02-02 19:35] fgatti675 commented on #222
Hi @Evaldash
We are aware of this bug, they introduced a breaking change in version 5.4.0
It is already fixed in code and will be shipped with the next release

[2022-02-08 23:20] fgatti675 commented on #222
Fixed in version 1.0.0-rc.2

[2022-02-08 23:20] #222 closed

[2022-02-10 02:51] fashionado opened #224 "Pre-display Callback just like Pre-save callback"
I have an editable field which is saved as string in Firestore. It is an ID of a document in a foreign collection.

[code]
In FireCMS, schema I define this field as "reference" type so that when displaying this field FireCMS can use the appropriate document display name from the foreign collection instead of the string.

On pre-save, I map the reference type to just the string ID before saving it

[2022-02-11 14:04] fgatti675 commented on #183
Hi @C-Coretex can you tell me if this still happens in version 1.0.0-rc.2 ? thanks!

[2022-02-11 14:04] fgatti675 commented on #183
Hi @C-Coretex can you tell me if this still happens in version 1.0.0-rc.2 ? thanks!

[2022-02-11 14:04] #171 closed

[2022-02-13 15:19] fgatti675 commented on #128
Hi @niwasmala
We replaced FirebaseUI with a custom solution since it was causing us trouble.
You currently can't disable sign in right now using `FirebaseCMSApp` but you should be able to achieve what you need using a custom app:
https://firecms.co/docs/custom_cms_app

[2022-02-13 22:33] alixain commented on #183
Same Issue

[2022-02-14 14:34] Vixxd opened #226 "Customization"
Hi there, I'm wondering to what extent the CMS is customizable? I'd like to replace the logo image and CSS with my own but I am not sure where to start. Thanks!

EDIT:

I have been trying to reverse engineer this for some time and I'm currently trying to use the `createCMSDefaultTheme` method in `CustomCMSApp.tsx` from the Example in this repo. Unfortunately, this does not change the colour from t

[2022-02-15 11:11] C-Coretex commented on #183
I've already changed the code. Maybe @alixain can check it in his project

[2022-02-15 11:43] alixain commented on #183
@C-Coretex It's not working in version 1.0.0-rc.2  as well.

EntityReference and EntityReference[] to any other collection

[2022-02-15 18:27] fgatti675 commented on #226
Hi @Vixxd glad you could make it work
Both ways you described should work

[2022-02-15 18:27] #226 closed

[2022-02-16 01:58] Vixxd opened #230 "How to allow duplicate enum selections"
I have an entity type (a 'bucket') of which I want to be able to hold one or more of the following properties:
- high
- medium
- low

e.g.
Bucket 1: High, High, Low
Bucket 2: Medium, Low, Low

### Scenario 1
I can do this in a string array as follows:
![image](https://user-images.githubusercontent.com/5870958/154181291-6a66d812-5592-4094-8118-79d4525f120c.png)

[code]

However, I would like high/m

[2022-02-16 10:10] fgatti675 commented on #230
Hi @Vixxd
I think the only way to achieve this right now is by implementing your own custom field:
https://firecms.co/docs/entities/custom_fields
The custom shaped array is an example of how you can build your field, you probably want to create your own custom one.
I guess you would include 3 selects that hold all 3 different values, so you can pick the values as you need.
The example in the docs

[2022-02-16 14:37] fgatti675 commented on #183
Hi @C-Coretex and @alixain
I've just tested this code:
[code]
and it works fine with the latest release!

[2022-02-16 15:21] Vixxd commented on #132
Hi there, I just want to say this is an excellent CMS but perhaps too easy to set up for someone like me who has not used React at this level in a while! Following on from the issue OP posted - I would like to display fetched data in custom view at the top of my collections page.

I am using `useDataSource` as I could not get the above `useCustomDataSource` to work. I am using the CustomView from

[2022-02-16 15:36] #230 closed

[2022-02-16 15:40] Vixxd opened #231 "Displaying simple fetched data in custom view HTML"
This is an excellent CMS but perhaps too easy to set up for someone like me who has not used React at this level in a while! Following on from the issue OP posted - I would like to display fetched data in custom view at the top of one of my collection pages.

I am using `useDataSource` as I could not get the above `useCustomDataSource` to work. I am using the CustomView from the Example app to do

[2022-02-16 18:22] alixain commented on #183
<img width="582" alt="image" src="https://user-images.githubusercontent.com/14543921/154330598-27c410ec-cf0a-4469-883c-f426632f4704.png">

[code]

`type Product = {
    name: string;
    brand: EntityReference;`

[2022-02-16 20:31] fgatti675 commented on #183
@alixain the path in a reference property refers to a path defined in the main navigation of your FireCMS config.
Make sure you have a defined a collection at the root level of your navigation with path "brands"

[2022-02-16 20:34] alixain commented on #183
As per my understanding,

Suppose I have 2 collections brands and products

To give entity reference in product. My collection path should not be
products? If yes, either it would be “/“ or null ?

On Thu, 17 Feb 2022 at 1:31 AM, fgatti675 ***@***.***> wrote:

--
Regards,
Ali Zain

[2022-02-16 20:41] fgatti675 commented on #183
Yes, just use the absolute path of the collection you are pointing to.
But make sure that absolute path exists in your navigation:
[code]

[2022-02-17 11:01] alixain commented on #183
Please guide me

`type Product = {
    name: string;
    brand: EntityReference;
    images: string[];
    searchkeywords: string[];
    on_sale: boolean;
    featured: boolean;
    status: string;
    date_created: Date;
    date_modified: Date;
    description: string;
}`

`const productSchema = buildSchema<Product>({
    name: "Product",
    properties: {
        name: {
            title: "Nam

[2022-02-17 11:11] fgatti675 commented on #183
Hi @alixain
You are missing a `brands` collection in your navigation. FireCMS does not point to Firestore collections, but to it's own ones, which have a schema attached, so the views can be built.
You need to add your `brands` collection at the same level as the products one:
[code]

[2022-02-17 11:12] alixain commented on #183
<img width="448" alt="Screenshot 2022-02-17 at 4 10 21 PM" src="https://user-images.githubusercontent.com/14543921/154469564-a5aa70f2-cec7-43b5-8c7d-55b6aaf55c1b.png">

<img width="303" alt="Screenshot 2022-02-17 at 4 10 49 PM" src="https://user-images.githubusercontent.com/14543921/154469618-4865e9cc-8bf6-4fa9-bccc-e5bb9b5d346e.png">

<img width="1004" alt="Screenshot 2022-02-17 at 4 11 43 PM" sr

[2022-02-17 11:13] alixain commented on #183
Previous Issue "Resolved" Thank you @fgatti675

[2022-02-17 11:14] fgatti675 commented on #183
Welcome!

[2022-02-17 11:14] #183 closed

[2022-02-17 11:20] alixain opened #232 "Reference not picking up the value"
<img width="448" alt="Screenshot 2022-02-17 at 4 10 21 PM" src="https://user-images.githubusercontent.com/14543921/154469564-a5aa70f2-cec7-43b5-8c7d-55b6aaf55c1b.png">

<img width="303" alt="Screenshot 2022-02-17 at 4 10 49 PM" src="https://user-images.githubusercontent.com/14543921/154469618-4865e9cc-8bf6-4fa9-bccc-e5bb9b5d346e.png">

<img width="1004" alt="Screenshot 2022-02-17 at 4 11 43 PM" sr

[2022-02-17 11:21] alixain commented on #232
<img width="334" alt="Screenshot 2022-02-17 at 4 21 03 PM" src="https://user-images.githubusercontent.com/14543921/154471250-6e5fcebb-6101-4078-8bd8-876bca30f09f.png">

<img width="278" alt="Screenshot 2022-02-17 at 4 21 11 PM" src="https://user-images.githubusercontent.com/14543921/154471284-241277f6-5191-4bec-8769-88c2082fa19d.png">

All references are correct

[2022-02-17 15:38] josephclawrence opened #235 "Unclear how to use useCollectionFetch"
I am attempting to use useCollectionFetch to grab a collection in a custom view. It requires a path, and a 'schemaResolver'. I cannot work out from the documentation, exactly how to generate a schemaResolver. I have a schema, I have a collection, and I have attempted to use a function according to the type 'EntitySchemaResolver', but this requires parameters of 'entityID', and some values. Since I

[2022-02-19 07:59] nikolasCASAR commented on #128
Hey @fgatti675 . I have tried your CustomCMSApp with the following config:
`const DEFAULT_SIGN_IN_OPTIONS = [
  {
    provider: EmailAuthProvider.PROVIDER_ID,
    disableSignUp: { status: true },
  },
];`

I'm still able to sign up, please, do i do something wrong way  ?

[2022-02-19 13:08] #235 closed

[2022-02-20 14:54] fgatti675 commented on #128
Hi @nikolasCASAR
If you are using `CustomCMSApp` you are responsible for displaying the views that you consider.
If you want to disable the login function, just remove the if statement here:
https://github.com/Camberi/firecms/blob/b3bb496d6571f7e33bb36b1ad8d279181d23d05a/example/src/CustomCMSApp.tsx#L151

[2022-02-22 05:53] nikolasCASAR commented on #128
@fgatti675 i don't want to disable login function. My goal is to be able to login (sign in), BUT JUST IN CASE, i know the right email/password credentials. If i didn't know them, i would not be able to signup (register). The signup (register) seems to be part of <FirebaseLoginView />, your UI automatically offers signup (register) after login fails. If login fails, we need to disallow user to sign

[2022-02-22 22:41] jamiegalbreath commented on #37
OOh would love this

[2022-02-25 16:53] patbranchaud commented on #213
Hi @logartis, we did something similar and would be interested to talk with you and share on how to optimise user experience with long documents. For us, the main concern is the loading speed of all the items mostly images. Let me know if you are interested.

@fgatti675 keep up the good work!

Here is a screen capture to give an idea, our users feedback is the speed and how long it takes to scroll

[2022-02-25 17:18] fgatti675 commented on #213
Hi guys, please keep me in the loop.
We are doing work already to improve the UX on version 2.0 and your feedback is very valuable 👌

[2022-02-28 14:00] fgatti675 commented on #213
Hi @logartis
We are doing massive changes for version 2, and all our focus is there right now.
We will continue to offer support for version 1 for the time being.
V2 is still far, but we will try to release alpha versions as soon as possible so you can migrate and enjoy the benefits of the new version.
We will put the focus on allowing users to edit the schemas themselves, and also allowing develo

[2022-03-01 12:30] Andre3424 opened #243 "Can a search field be added to drop-down lists?"
Hi
We have in some collections really long drop-down lists (reference to other collections). It would be useful to have a search field to narrow the displayed items in the list. As I understand firecms does not support it, however, do you have a recommendation how we could solve this? thanks

[2022-03-01 12:50] Evaldash opened #244 "[Question] How could I display a documment's array as a collection?"
I have a string array in one document, and would like to display it in a page, so it could be edited like a collection. How could I do that?

[2022-03-01 13:59] fgatti675 commented on #243
For references to other collections, you can add text search using a 3rd party service as Algolia.
You need to index your data externally, probably using cloud functions.
There are additional instructions here: https://firecms.co/docs/firebase_cms_app#text-search

[2022-03-03 09:12] logartis opened #247 "in oneOf arrays elements with same type and value get assigned the same key"
Steps to recreate:

- Create a oneOf array property
- Create a document using it
- Add the same elements multiple times
- Save the document
- Reopen and an error is thrown in the console
- Start dragging the elements, it stops working

[code]

This problem can be observed in the demo app too if the same type of block is added in the Blog example with the same value (e.g. empty value) after saving

[2022-03-03 18:15] ellej16 commented on #128
Heya @nikolasCASAR ! Might interest you to check out my PR for improvement / feedback?
https://github.com/Camberi/firecms/pull/248

It addreses the same concerns you have :D

[2022-03-03 20:16] mikeislearning opened #249 "Filtering doesn't when using enum with arrays"
This doesn't work:
[code]

It seems to work when using single enum values:
[code]

Any ideas?

[2022-03-04 18:55] makifakkaya opened #250 "Cannot find module '@camberi/firecms' or its corresponding type declarations.ts(2307)"
[code]

This error is in the App.tsx file

<img width="893" alt="image" src="https://user-images.githubusercontent.com/60367291/156824426-911fdfd7-9527-4a6c-9bfb-779a7660ad23.png">

[2022-03-05 12:38] fgatti675 commented on #250
Did you run `yarn install`?

[2022-03-05 14:38] makifakkaya commented on #250
yes i think i did everything but i couldn't solve this error

[2022-03-07 12:09] fgatti675 commented on #250
This seems to work fine using the quickstart, must be a problem with your setup

[2022-03-07 12:09] #250 closed

[2022-03-07 12:40] fgatti675 commented on #249
Thanks, releasing a fix in next version!

[2022-03-07 13:53] jbethuel opened #253 "List view doesn't show snackbar prompts(onPresave). Disabling inlineEditing doesn't refresh the document that you have updated"
As always, thanks for the awesome package 🎉

[2022-03-07 20:06] Nedu opened #254 "Custom View still showing up on navigation and in collections view"
I have the hideFromNavigation option set to true and it still showing up in the sidebar navigation and in the collections section on the home page

[code]

[2022-03-08 14:52] fgatti675 commented on #253
Hi @jbethuel thanks!
I have fixed the inlineEditing issue.
The snackbar onPreSave seems to work fine though?

[2022-03-08 15:24] jbethuel commented on #253
Apologies, it is when you edit the document in list/table view. @fgatti675

[2022-03-14 15:31] fgatti675 commented on #254
Fixed in version `1.0.0-rc.4` :)

[2022-03-14 16:07] jeemercado opened #255 "[Feature Request] Support same collection with different EntityCollection"
First of all, great library!

Problem:
I have a collection"Posts". I wanted to have a separate `EntityCollectionView` or page for `allPosts` and has `initialFilters` for `pendingPosts`

Ideal scenario on the navigation page. I have both "All Posts" and "Pending Posts".

I tried creating a custom view
[code]

But this implementation requires me to have an existing path for "posts" in navigation or

[2022-03-16 06:37] ramespra commented on #255
I also have this problem

[2022-03-16 09:01] Andre3424 opened #256 "Every user can create a login?"
Hi Francesco

If the user enters during the login process a not existing email, he can create a new user.
![grafik](https://user-images.githubusercontent.com/65586807/158553724-2db810bc-3cba-48ef-b641-523a9d8de266.png)

We want to disable this, because only selected defined users should have access to FireCMS. We already restricted this with a function which you implemented, however I wonder, whet

[2022-03-16 13:38] joshua-scott opened #257 "Allow sign in with phone number?"
Hi! I see that most Firebase sign in options are available, but signing in via phone + SMS code is not. In fact, "phone" is commented out in the `FirebaseSignInProvider` type [here](https://github.com/Camberi/firecms/blob/master/src/firebase_app/models/auth.tsx#L12).

Is it possible to allow sign in via phone? If not, what would be required to implement it?

[2022-03-16 13:59] fgatti675 commented on #257
Hi Joshua!
We didn't implement the phone authentication since we felt it was not as requested as the other methods and it was a bit harder to implement.
If you want to give it a shot, feel free to submit a PR!
You will need to modify the files `useFirebaseAuthDelegate`, `FirebaseAuthDelegate` and `FirebaseLoginView`
To run the CMS locally check these instructions: https://github.com/Camberi/firecm

[2022-03-16 14:09] fgatti675 commented on #256
Hi Andre, since version 1.0.0-rc.4 you can disable use creation (only in password mode)
An example for how to do it, pass the following props to `FirebaseCMSApp`
[code]

[2022-03-16 14:27] #243 closed

[2022-03-16 19:24] fgatti675 commented on #155
fixed in 1.0.0-rc.4

[2022-03-16 19:24] #155 closed

[2022-03-17 02:05] jeemercado commented on #255
Yes it would work for as long as the path (reference path) shouldn't resolve to the same collection. I did some digging. I'm not entirely sure how this is used (I didn't dig further enough) but on `EntityCollectionView.tsx` it seems like `collectionResolver`, `schemaResolver`, and `collection` is coupled with the path (reference path)

[code]

Basically treat them as separate collections even if t

[2022-03-17 11:30] #35 closed

[2022-03-17 11:31] fgatti675 commented on #170
Closing this due to lack of activity, feel free to open if it's still relevant

[2022-03-17 11:31] #170 closed

[2022-03-17 11:31] fgatti675 commented on #139
Closing for lack of activity

[2022-03-17 11:31] #139 closed

[2022-03-17 11:32] fgatti675 commented on #118
Hi @gregorybesson did you get to work on this?
Best,

[2022-03-17 11:32] #68 closed

[2022-03-23 15:51] woosuk288 opened #265 "filtered data by uid"
Hi, I would like to make users read the firestore data they only created.

for example, there are users A and B.
two firestore data are
`
  {
     name: 'apple',
     uid: 'A',
  },
  {
     name: 'tomato',
     uid: 'B',
  }
`
A has to read A's data. A's data must not be shown to B
B has to read B's data. B's data must not be shown to A

I've tried initialFilter of buildCollection to implement th

[2022-03-24 16:34] faizanabidnaqvi opened #266 "Filter by nested fields"
Hi there!

I hope you are doing well! Every time I come back to this project, it's awesome to see all the updates!

I am not sure if this is a feature request or already possible but I would like to filter a collection by nested fields. For example, I have an entity with the following fields in firebase:
[code]

Is there a way I could have a filter in the collection view such that I only see entit

[2022-03-25 13:02] fgatti675 commented on #265
Hi @woosuk288
I am afraid this is not possible at this time. You could change the `initialFilter` based on the user id, using a NavigationBuilder, but the users could still  change the filter manually.
We will consider this use case for the future

[2022-03-25 13:06] fgatti675 commented on #266
Hi @faizanabidnaqvi
This it not possible at the moment but will add it as a feature request
Thanks a lot for your nice words :)

[2022-03-25 13:10] fgatti675 commented on #255
Hi @jeemercado
We have big changes regarding how collections are resolved internally for version 2.0 and will keep this feature in mind.
Yeah, right now the path acts as an id so it is hard to change this behaviour at this point.
Thank you for the feedback!

[2022-03-25 13:51] faizanabidnaqvi commented on #266
Hey, thanks for getting back!

I think an additional related feature request will be to support showing nested fields in collection view. I know that is possible by creating additional columns but it will be nice if we can just include a nested field in the 'properties' value for the collection like 'config.filters.publish' and the cms renders the nested field with the correct widget and filter op

[2022-03-28 04:35] jabelone opened #275 "Use of deprecated useAuthContext() in example custom view?"
Hey there,

I've been pulled into a firecms project and have been implementing a custom view as we need to use a collection group query which doesn't appear to be supported out of the box. I was following https://firecms.co/docs/custom_top_level_views/, but was a little confused where `useAuthContext()` was coming from in the example view. It looks like it has been renamed to `authController()` re

[2022-03-28 13:17] faizanabidnaqvi opened #276 "Keys being set in a map even with pickOnlySomeKeys set to true"
Hi there

Found this minor issue. I have a map field that has several properties which are also map fields; the parent and nested map fields both have 'pickOnlySomeKeys' set to true.

When I save such an entity, without touching any part of the map or the nested map, the nested map fields are added as empty objects.

Here is the schema for such a field:
[code]

When the entity is saved without tou

[2022-03-28 15:16] fgatti675 commented on #275
Thanks for the catch! Merged and being deployed,
you are right it was renamed but there was an error in the docs

[2022-03-28 15:16] #275 closed

[2022-03-29 18:58] Andre3424 commented on #256
thanks!

[2022-03-29 19:00] Andre3424 opened #278 "Conditional color or background color in cell"
Hi
We have two date fields in our collection.
In the document list we want to highlight one date field either with red background color or with red text, whenever this rule is true: Date1>Date2.
example:
![grafik](https://user-images.githubusercontent.com/65586807/160685781-ce67fe76-5eda-4557-92e6-a5d6e75dbbd0.png)

Can this be implemented in Firecms?

[2022-03-30 23:11] dvird opened #280 "yarn add not working"
https://firecms.co/docs/quickstart/

when running on terminal:

yarn add @camberi/firecms firebase@^9 @mui/material@^5 @mui/icons-material@^5 @mui/lab @mui/styles@^5 @emotion/react @emotion/styled react-router@^6 react-router-dom@^6

zsh: no matches found: firebase@^9

[2022-03-31 08:38] fgatti675 commented on #280
That's weird, seems to work for me, and no one has reported this before.
Do you have the latest `yarn` version?

[2022-04-04 00:57] Nedu opened #283 "Adding async to collection builder for an additional column breaks the page"
I am trying to add an additional column that calls an async function to a collection. But the async/await keyword breaks the entire page for some reason.
`const usersCollection = buildCollection<IUser>({
    path: 'users',
    pagination: 10,
    schema: userSchema,
    callbacks: userCallbacks,
    name: 'Users',
    group: 'Main',
    description: 'List of users',
    textSearchEnabled: true,

[2022-04-04 04:51] dvird opened #284 "Dynamic map"
Is there way for dynamic map?

i want for example to add to "product" field of "members"
the field will be map of userid to role
{"adafewr324asfas":"admin}

[2022-04-04 04:52] dvird commented on #280
i removed the versions like : @^9  and it worked

[2022-04-04 04:52] #280 closed

[2022-04-07 10:08] marianmoldovan opened #286 "When editing an inline text, cursor goes to last position of the content"
When editing an inline text, not a multi line one and you set the cursor in the middle, between any words and start typing, the first letter is introduced in the correct position and then the cursor jumps to the end of the string.

[2022-04-07 15:43] fgatti675 commented on #27
Closing this for lack of activity

[2022-04-07 15:43] #27 closed

[2022-04-07 15:43] fgatti675 commented on #247
This one should be fixed

[2022-04-08 03:05] anhuet opened #287 "Disable Add button"
I have an array of items, I want the user  not be able to add items in the CMS by disable, hide ... this "Add" button, is it possible?

[2022-04-08 08:45] fgatti675 commented on #213
Hi everyone,
Quick update on version 2 :)
We have done a lot of performance optimisations including virtualising form fields, and also included expandable panels by default in all map and array properties.
Most notable new feature is the schema editor!
We still need quite some work to complete the docs and be able to launch an alpha version of v2, but you can check the demo here:
https://demo.next

[2022-04-08 13:56] patbranchaud commented on #213
Good job guys!!! It looks the same but on steroids it includes all the little things needed.

Question : how do you see the language management of the fields?  I mean how to you decide if a field is multilingual or not from the interface?

[2022-04-09 02:23] dvird commented on #284
today we can only build a map with default keys
for example:
`
publisher: {
            title: "Publisher",
            description: "This is an example of a map property",
            dataType: "map",
            properties: {
                name: {
                    title: "Name",
                    dataType: "string"
                },
                external_id: {
                    titl

[2022-04-09 05:31] 5hee75 opened #289 "Sort icons are backwards"
I noticed that sorting columns in the tables seems to be using the opposite arrow direction than what is typical/expected.  The standard is for the "up" arrow to mean 'asc' and "down" arrow to mean 'desc', but this seems to be flipped in `firecms`.  See screenshots for illustration.

Sort in `firecms` - note how values are going from high to low while the arrow points up.

![image](https://user-im

[2022-04-09 12:38] logartis commented on #213
It's looking to be amazing guys! The schema editor is looking really neat, can't wait for the release! Will it be configurable whether the expandable panels are open or closed by default?

[2022-04-09 12:38] logartis commented on #247
Sorry to open this up, but I just can't seem to find the fix for this issue. Has the fix been released?

[2022-04-11 08:55] fgatti675 commented on #213
Sure, it's already implemented for v2 :)

On Sat, Apr 9, 2022 at 2:38 PM logartis ***@***.***> wrote:

--
Camberi - Madrid, Munich, Milan

[2022-04-11 14:50] fgatti675 commented on #247
Sorry! you are right, I missed updating the fix.
It should be fixed in version 1.0.0-rc5 :)

[2022-04-11 14:50] fgatti675 commented on #289
You are right!
Changed that behaviour in version 1.0.0-rc5

[2022-04-11 14:50] #289 closed

[2022-04-11 14:50] #286 closed

[2022-04-13 08:33] Andre3424 opened #291 "Upgrading from 1.0.0-rc.1 to 1.0.0-rc.5"
hi
We are currently using 1.0.0-rc.1. Can we simply update to 1.0.0-rc.5 or should we do some special preparation, consider something ?

thanks

[2022-04-13 12:53] Andre3424 commented on #151
Hi Francesco
We finally wanted to implement this. Currently we do not get any error, just the following happens
1: I apply a filter on column (MeditationID)
2: Then I sort by another column (UpdateDate)
Result: The filter is lost.

We have set the filter as follows:
![grafik](https://user-images.githubusercontent.com/65586807/163184273-a75e0dd2-9d24-4134-952e-3e9b98cab00d.png)

and the index
![gra

[2022-04-13 13:26] Andre3424 opened #293 "Wish: Ability to place custom columns anywhere"
Hi Francesco

We have a wish, maybe others have the same:-)

Sometimes we add custom columns to the collection lists. However, they cannot be placed freely currently. Currently first collection columns come first, then custom columns, then links to subcollections (if any).

It would be great to have the possiblity to add columns in a custom order.

[2022-04-13 15:01] nathanieldeal opened #294 "FirebaseConfig is being logged in production?"
Hello, I have a question about this line in https://github.com/Camberi/firecms/blob/9dfd9d06ca8ac2512934f159e4412d7995c60e00/src/firebase_app/hooks/useInitialiseFirebase.ts#L59

It always logs our firebaseConfig on page load, which is available to everyone that uses the app.

Is there a specific reason why this is here, particularly on production?

Thanks!

[2022-04-13 22:10] nathanieldeal commented on #294
Awesome thanks for the fast response. I would really appreciate if you could make that update in the next release. Keep up the great work!

[2022-04-14 11:57] Andre3424 opened #297 "Export function to consider filter set"
hi
Currently the export function in any collection exports the whole collection.
it would be great if the exort function would consider the filter which is set.

For the feature request wish list:-)

thanks

[2022-04-15 06:53] Andre3424 opened #298 "When sorting by a column then filter is lost"
Hi
We some time ago opened this support request https://github.com/Camberi/firecms/issues/151, it was then closed. Now we tried to implement your recommendations, however it does not work. Can you help what we are doing wrong?

The problem:
1: I apply a filter on column (MeditationID)
2: Then I sort by another column (UpdateDate)
Result: The filter is lost.

We have set the filter as follows.
![gr

[2022-04-22 10:53] ciriousjoker opened #300 "Upload images during markdown editing"
Markdown allows images, but it would be nice if you could upload public images to storage and embed them via the link.

This obviously only works if the image doesn't require authentication via a token, but it would make it way more convenient.

[2022-04-23 15:18] andrashee commented on #265
Hi all,
Foremost, thanks a lot for this really great project!
We would also love to have the option to filter down a collection based on conditions. Similarly to https://github.com/Camberi/firecms/issues/188
Having this feature could extend the use cases where one can use firecms quite significantly: not just for data management by internal administrators, but also e.g by external clients.

Are yo

[2022-04-24 19:27] ciriousjoker commented on #64
Please consider reopening this.

fileName doesn't support async functions. This makes it impossible to read the file content and hash it.

[2022-04-25 08:15] Andre3424 commented on #298
hi @fgatti675 hope you are well! could you take a look at the question above, this would be great, thanks!

[2022-04-25 08:16] Andre3424 commented on #293
@fgatti675 Hi Francesco, just want shortly to check: The above wish is now not possible to configure, right?

[2022-04-26 13:19] fgatti675 commented on #293
Hi Andre sorry for the delay, I am afraid this is not possible at the moment!
We are actively working on version 2 now and will keep this as a feature request

[2022-04-26 21:48] fgatti675 commented on #265
Hi @andrashee
We are definitely open for PRs! They are encouraged, since our focus right now is on working on version 2 of the CMS.
I think it makes sense to provide a prop other than `initialFilter`, with the same format.
Maybe just a prop called `filter`, that when set forces filtering by it, and disables filtering and sorting for the view

[2022-04-27 11:14] NoamMuallem opened #301 "keep empty collectiond"
Hi I have a firecms set up for my gatsby project, the problem, is that on build, I cannot have empty collections, but after deleting the last doc in a collection, the collections is deleted and thats crashes my build process.
There is an option anywhere to keep empty collections on firestore?

[2022-04-27 11:42] fgatti675 commented on #301
Sorry I don't think I understand. Can you explain with a bit more detail?

[2022-04-27 11:42] fgatti675 commented on #118
Closing this for lack of activity

[2022-04-27 11:42] #118 closed

[2022-04-27 11:54] fgatti675 commented on #160
Heads up for version 2.
We are including a schema editor that will allow to update and add properties, so that should allow end users to add properties as they see fit.
We will also be allowing property builders at any level of the property tree, not just the root.
And also allow tuples in the form of arrays, such as `["string","number"]` or any format.
Hoping these new features will cover this us

[2022-04-27 15:11] fgatti675 commented on #298
Hi @Andre3424
There seems to be a bug in the code that we are fixing, but in any case, you can't filter by a property and sort by another one unfortunately.
Firestore has some weird limitations in this sense:
https://firebase.google.com/docs/firestore/query-data/order-limit-data
We are fixing the bug for the final release 1.0.0

[2022-04-27 16:53] faizanabidnaqvi opened #304 "Values prop for PropertyOrBuilder is undefined with edit permissions false"
Hi there!

I am working on a schema that is supposed to be read-only. Therefore, I set the permissions for the collection to be edit: false and create: false.

In the schema, I have some properties which use the PropertyBuilder so they can use values from other fields.

However, values for my properties appeared undefined even when those values do exist and show up for the properties not using the

[2022-04-27 21:32] ludovicroland opened #305 "[Question] Cannot be used as a JSX component."
Hello,

I am totally new to react and it is the first time I am using this technology through firecms.

I am trying to introduce a color picker into a schema using the react library React Color.

I added the package with npm using npm install react-color --save and I tried to use the "Custom fields" documentation page in order to display the selected color picker using something like:

[code]

Unf

[2022-04-27 21:40] ludovicroland commented on #305
It was because of the use of npm.

Adding the dependency using yarn seems to work.

[2022-04-27 21:40] #305 closed

[2022-04-28 04:38] NoamMuallem commented on #301
When you delete the last document in a collection, the collection is being deleted, I need an empty collection instead, is there a way to do it?

[2022-04-28 08:12] fgatti675 commented on #301
Hi @NoamMuallem
As far as I know there is no way, but since it is Firestore question you may want to ask in a specific forum.
In any case, I would build my pipeline in a way that it supports non existing collections

[2022-04-28 08:12] #301 closed

[2022-04-29 03:30] dhazeley commented on #185
Hi @fgatti675 any word on support for collection group queries in the future? Or maybe an explanation of the issue so that we can make a PR.

[2022-04-29 20:15] ludovicroland opened #306 "[Question] Is there a way to override/choose the background color of the chips?"
Hello,

I am currently playing with this CMS and, if I am not wrong, when I set use enumValues, the background color of each chip is automatically set by the CMS using the functions of the file "src/core/util/chip_utils.ts".

Is there a way to override these functions in order to be able to set the background color a enum values?

Thank you for your help!

[2022-04-29 21:20] ludovicroland commented on #306
I did not find the solution in the documentation, but I found the solution in the source code. It's possible using an EnumValueConfig instead of a simple string :)

[2022-04-29 21:20] #306 closed

[2022-04-30 11:12] Andre3424 commented on #298
hi @fgatti675 thanks for your feedback and the link. According the link it seems to me it should be possible to filter and sort, no? Or is the problem that when we sort in FireCMs it queries again firestore? We cannot sort in firecms a resultset we retrieved?

[2022-05-02 10:57] fgatti675 opened #307 "Think of SaSS data model"
In order to be able to distribute FireCMS as a SaSS, we need to be able to manage customers and their projects.
The first step would be designing a data model that supports the following concepts:
- Users, either owners of projects or editors
- Projects
- User roles
- Collections and their schemas.
It makes sense to use Firestore as our backend database, so we can benefit from the real time capabi

[2022-05-02 11:01] fgatti675 opened #308 "Think of SaSS data model"
In order to be able to distribute FireCMS as a SaSS, we need to be able to manage customers and their projects.
The first step would be designing a data model that supports the following concepts:

- Users, either owners of projects or editors
- Projects
- User roles
- Collections and their schemas.
It makes sense to use Firestore as our backend database, so we can benefit from the real time capab

[2022-05-03 18:24] fgatti675 commented on #304
I was not able to reproduce this bug!
Keep in mind that your PropertyBuilder may receive empty values.
What you return when receiving an empty value is the default property, for example the one defining the column props.

[2022-05-04 16:10] faizanabidnaqvi commented on #304
Hey @fgatti675

Thanks for getting back. I tried this again in the example project on the test entity and it does still happen.

Here is the schema where I am also logging the received values:
[code]

And collection:
[code]

With edit set to false, the console shows default values for the selected item (when opening side dialog) even though it has already been saved. The values do show up for the

[2022-05-10 19:14] fgatti675 commented on #304
Fixed in version 1.0.0 ;)

[2022-05-10 19:14] #304 closed

[2022-05-10 19:16] #74 closed

[2022-05-11 19:57] fgatti675 commented on #300
Hi @ciriousjoker
you mean uploading an image to storage an inserting the url as markdown?

[2022-05-11 22:46] ciriousjoker commented on #300
Exactly

[2022-05-12 11:29] marianmoldovan opened #312 "Leads user research"
Target: realize 8 interviews to validate hypothesis
Bea
Ale
Diego
Kamil

[2022-05-15 06:36] xeonicca opened #313 "Is there a way to set storage path based on entityId for new document?"
Hello, first of all thank you for making this cms as it helps out greatly in my project :D

I wonder if there is any way to use entityId as storage path for a new document?
Using the `storagePath` as function, I was able to get `context.entityId`, but unfortunately it is empty as document is not created yet.
So my next question is, is there any way to create a system generated id as `customId` ?
T

[2022-05-17 04:56] jabelone opened #314 "Add a dropdown filter to reference properties"
Hi there,

I have a collection that makes use of a reference property to another collection (so I can use a dynamic list of categories). This seems to work well, but I don't get a dropdown list for the filter at the top of the column like I would by using the `enumValues: []` config option.

Essentially, given the following property:

[code]

I'd like to see a dropdown filter like pictured on the

[2022-05-17 18:37] corvinav commented on #313
I have the same questions. I found this thread https://github.com/Camberi/firecms/issues/64 it's an acceptable solution, but I would like to have something like this:
`
storagePath: function (entityId) {
              return `images/${entityId}`,
            },
`

@fgatti675  Maybe it's possible to set custom entityId and get it from some generator or better from firestore.collection.doc() (as I k

[2022-05-18 11:54] fgatti675 commented on #313
Hi guys, this issue has been solved for version 2.0.0, which is currently in alpha though!
There are no docs yet but we are working on them.
If you really need this, you can give it a try.
But be aware that there might be breaking changes down the line

[2022-05-18 12:55] jabelone commented on #314
Thanks so much! I've just updated the title/description so it's a little more like a feature request than a question :)